/**
  * @file
  * Typography
*/

@media screen and (max-width: $res_mobile) {

  body {
    font-size: 100%;
    line-height: $p_line_height;
    color: $p_color;
  }

  p {
    max-width: $p_max_width;
    margin: 0 auto;
    padding: 0 $normal ($p_line_height * 0.5);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1em;
    margin: .4em auto;
    padding: .4em;
    text-align: center;
  }

  h1 {
    margin: 0;
    padding: 1.4em 5% 1em;
    font-size: $h_size;
    font-size: 2.4rem;
    border: none;
  }

  h2 {
    font-size: $h_size * .8;
  }

  h3 {
    font-size: $h_size * .7;
  }

  h4 {
    font-size: $h_size * .6;
  }

  h5 {
    font-size: $h_size * .5;
  }

  h6 {
    font-size: $h_size * .4;
  }

  sub,
  sup {
    font-size: .75em;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  q,
  quote {
    font-size: $big;
  }

  blockquote {
    font-size: $big;
    margin: $tiny $big;
    padding: $normal;
    border-left: $tiny solid;
  }

  code,
  pre {
    margin: 1em auto;
    padding: 1em;
  }

}
