// Typography
$typo-text-line-height: $typo-text-size * $adjust-size-default;
$typo-text-max-width: 32em;
$typo-text-color: $c1;

$typo-heading-font: "Quicksand";
$typo-heading-size: 2.4em;
$typo-heading-weight: normal;
$typo-heading-color: $color-neutral;