// Color swatches
$adjust-color: 20%;
$opacity: 0.8;

$cyan: #29b4de;
$magenta: #dd2a99;
$yellow: #ec2;
$red: #8c0d00;
$green: #61d43f;
$blue: #00598e;

$color-primary-bg: #fefefe;
$color-primary: #111;
$color-neutral: #bbbab7;
$light_grey: darken($color-primary-bg, 5%);
$color-secondary: lighten($color-primary, 20%);

$c1: $color-primary;
$c2: $color-primary-bg;
$color-hilight: $cyan;
$shadow: lighten($color-primary, $adjust-color);

$ok_color: $green;
$warning_color: $yellow;
$error_color: $red;
