// Compass defaults
$default-transition-duration: 500ms;
$default-transition-function: ease-out;
$default-border-radius: 0.4em;
// Box shadow
$default-box-shadow-color: $color-neutral;
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur: 0.3em;
$default-box-shadow-spread: null;
$default-box-shadow-inset: null; // 'inset' or 'null'
