// Standard box-model or flex-box model
$flexbox: false;
// Max width of .container
$container_width: 72em;
// Cell grid spacing- % will be appended
$cell_margin: 0;
$cell_padding: 0;
$cell_space: ($cell_margin + $cell_padding) * 2;
// cells & offsets populated by looping through grid values.
$cells: ();
$offsets: ();
// Grid names & size declarations, as percentage of window width.
// cell-named-value: %value
$grid: (
  100: 100,
  90: 90,
  80: 80,
  75: 75,
  70: 70,
  66: 66.666666,
  60: 60,
  50: 50,
  40: 40,
  33: 33.333333,
  30: 30,
  25: 25,
  20: 20,
  10: 10,
);
//
@each $cell, $size in $grid {
  $cells : append($cells, unquote(".cell-#{$cell},"));
  $offsets : append($offsets, unquote(".offset-#{$cell},"));
}
