// Cell grid spacing- % will be appended
$cell_space: ($grid-cell-margin + $grid-cell-padding) * 2;
// cells & offsets populated by looping through grid values.
$cells: ('.cell');
$offsets: ();
// Grid names & size declarations, as percentage of window width.
// cell-named-value: %value
//
@each $cell in $grid-cells {
  $cell: round($cell);
  $cells: append($cells, unquote('.cell-#{$cell}'), comma);
  $offsets: append($offsets, unquote('.offset-#{$cell}'), comma);
}