$size-tiny: $size-default - ($size-default * $adjust-size-bigly);
$size-small: $size-default- ($size-default * $adjust-size);
$size-big: $size-default + ($size-default * $adjust-size); 
$size-xl: $size-default + ($size-default * $adjust-size-bigly); 

$speed-fast: $speed-default * 0.6;
$speed-slow: $speed-default * 1.5;