/**
 * @file
 * Fallback PNG icons for browsers w/o SVG support
 */
/* line 11, ../sass/_variables.scss */
.icon {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  margin: .1em;
  text-indent: -999em;
  background-size: 25.6px;
  background-color: #dedede;
  background-repeat: no-repeat;
  background-position: 3.2px;
}

/* line 9, ../sass/icons-png.scss */
.icon.search {
  background-image: url("../assets/icons/png/search.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.arrow-up {
  background-image: url("../assets/icons/png/arrow-up.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.arrow-right {
  background-image: url("../assets/icons/png/arrow-right.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.arrow-down {
  background-image: url("../assets/icons/png/arrow-down.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.arrow-left {
  background-image: url("../assets/icons/png/arrow-left.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.mail {
  background-image: url("../assets/icons/png/mail.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.mail2 {
  background-image: url("../assets/icons/png/mail2.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.menu {
  background-image: url("../assets/icons/png/menu.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.message-error {
  background-image: url("../assets/icons/png/message-error.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.message-ok {
  background-image: url("../assets/icons/png/message-ok.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.message-warning {
  background-image: url("../assets/icons/png/message-warning.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.audio {
  background-image: url("../assets/icons/png/audio.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.camera {
  background-image: url("../assets/icons/png/camera.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.cart {
  background-image: url("../assets/icons/png/cart.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.chat {
  background-image: url("../assets/icons/png/chat.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.cloud {
  background-image: url("../assets/icons/png/cloud.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.doc {
  background-image: url("../assets/icons/png/doc.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.email {
  background-image: url("../assets/icons/png/email.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.eye {
  background-image: url("../assets/icons/png/eye.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.film {
  background-image: url("../assets/icons/png/film.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.folder {
  background-image: url("../assets/icons/png/folder.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.gear {
  background-image: url("../assets/icons/png/gear.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.home {
  background-image: url("../assets/icons/png/home.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.key {
  background-image: url("../assets/icons/png/key.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.lock {
  background-image: url("../assets/icons/png/lock.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.minus {
  background-image: url("../assets/icons/png/minus.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.pdf {
  background-image: url("../assets/icons/png/pdf.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.phone {
  background-image: url("../assets/icons/png/phone.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.phone2 {
  background-image: url("../assets/icons/png/phone2.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.picture {
  background-image: url("../assets/icons/png/picture.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.plus {
  background-image: url("../assets/icons/png/plus.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.print {
  background-image: url("../assets/icons/png/print.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.search {
  background-image: url("../assets/icons/png/search.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.spreadsheet {
  background-image: url("../assets/icons/png/spreadsheet.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.user {
  background-image: url("../assets/icons/png/user.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.user-social {
  background-image: url("../assets/icons/png/user-social.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.video {
  background-image: url("../assets/icons/png/video.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.wrench {
  background-image: url("../assets/icons/png/wrench.png");
}

/* line 9, ../sass/icons-png.scss */
.icon.zip {
  background-image: url("../assets/icons/png/zip.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.android {
  background-image: url("../assets/icons/png/android.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.angular {
  background-image: url("../assets/icons/png/angular.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.apple {
  background-image: url("../assets/icons/png/apple.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.creativecommons {
  background-image: url("../assets/icons/png/creativecommons.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.chrome {
  background-image: url("../assets/icons/png/chrome.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.css3 {
  background-image: url("../assets/icons/png/css3.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.desktop {
  background-image: url("../assets/icons/png/desktop.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.drupal {
  background-image: url("../assets/icons/png/drupal.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.firefox {
  background-image: url("../assets/icons/png/firefox.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.globe {
  background-image: url("../assets/icons/png/globe.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.html5 {
  background-image: url("../assets/icons/png/html5.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.internetexplorer {
  background-image: url("../assets/icons/png/internetexplorer.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.jquery {
  background-image: url("../assets/icons/png/jquery.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.js {
  background-image: url("../assets/icons/png/js.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.laptop {
  background-image: url("../assets/icons/png/laptop.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.linux {
  background-image: url("../assets/icons/png/linux.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.mac {
  background-image: url("../assets/icons/png/mac.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.mobile {
  background-image: url("../assets/icons/png/mobile.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.opera {
  background-image: url("../assets/icons/png/opera.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.safari {
  background-image: url("../assets/icons/png/safari.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.w3 {
  background-image: url("../assets/icons/png/w3.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.windows {
  background-image: url("../assets/icons/png/windows.png");
}

/* line 15, ../sass/icons-png.scss */
.icon.wordpress {
  background-image: url("../assets/icons/png/wordpress.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.behance {
  background-image: url("../assets/icons/png/behance.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.blogger {
  background-image: url("../assets/icons/png/blogger.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.delicious {
  background-image: url("../assets/icons/png/delicious.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.deviantart {
  background-image: url("../assets/icons/png/deviantart.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.digg {
  background-image: url("../assets/icons/png/digg.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.facebook {
  background-image: url("../assets/icons/png/facebook.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.flickr {
  background-image: url("../assets/icons/png/flickr.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.github-octo {
  background-image: url("../assets/icons/png/github-octo.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.google {
  background-image: url("../assets/icons/png/google.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.grooveshark {
  background-image: url("../assets/icons/png/grooveshark.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.hi5 {
  background-image: url("../assets/icons/png/hi5.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.linkedin {
  background-image: url("../assets/icons/png/linkedin.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.myspace {
  background-image: url("../assets/icons/png/myspace.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.pinterest {
  background-image: url("../assets/icons/png/pinterest.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.reddit {
  background-image: url("../assets/icons/png/reddit.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.rss {
  background-image: url("../assets/icons/png/rss.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.skype {
  background-image: url("../assets/icons/png/skype.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.slashdot {
  background-image: url("../assets/icons/png/slashdot.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.soundcloud {
  background-image: url("../assets/icons/png/soundcloud.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.stackoverflow {
  background-image: url("../assets/icons/png/stackoverflow.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.stumbleupon {
  background-image: url("../assets/icons/png/stumbleupon.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.technorati {
  background-image: url("../assets/icons/png/technorati.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.tumblr {
  background-image: url("../assets/icons/png/tumblr.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.twitter-bird {
  background-image: url("../assets/icons/png/twitter-bird.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.twitter-t {
  background-image: url("../assets/icons/png/twitter-t.png");
}

/* line 21, ../sass/icons-png.scss */
.icon.youtube {
  background-image: url("../assets/icons/png/youtube.png");
}
