/**
 * @file
 * SVG icons
 */
/* line 11, ../sass/_variables.scss */
.icon {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  margin: .1em;
  text-indent: -999em;
  background-size: 25.6px;
  background-color: #dedede;
  background-repeat: no-repeat;
  background-position: 3.2px;
}

/* line 9, ../sass/icons-svg.scss */
.icon.search {
  background-image: url("../assets/icons/svg/search.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.arrow-up {
  background-image: url("../assets/icons/svg/arrow-up.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.arrow-right {
  background-image: url("../assets/icons/svg/arrow-right.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.arrow-down {
  background-image: url("../assets/icons/svg/arrow-down.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.arrow-left {
  background-image: url("../assets/icons/svg/arrow-left.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.mail {
  background-image: url("../assets/icons/svg/mail.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.mail2 {
  background-image: url("../assets/icons/svg/mail2.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.menu {
  background-image: url("../assets/icons/svg/menu.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.message-error {
  background-image: url("../assets/icons/svg/message-error.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.message-ok {
  background-image: url("../assets/icons/svg/message-ok.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.message-warning {
  background-image: url("../assets/icons/svg/message-warning.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.audio {
  background-image: url("../assets/icons/svg/audio.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.camera {
  background-image: url("../assets/icons/svg/camera.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.cart {
  background-image: url("../assets/icons/svg/cart.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.chat {
  background-image: url("../assets/icons/svg/chat.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.cloud {
  background-image: url("../assets/icons/svg/cloud.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.doc {
  background-image: url("../assets/icons/svg/doc.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.email {
  background-image: url("../assets/icons/svg/email.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.eye {
  background-image: url("../assets/icons/svg/eye.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.film {
  background-image: url("../assets/icons/svg/film.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.folder {
  background-image: url("../assets/icons/svg/folder.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.gear {
  background-image: url("../assets/icons/svg/gear.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.home {
  background-image: url("../assets/icons/svg/home.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.key {
  background-image: url("../assets/icons/svg/key.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.lock {
  background-image: url("../assets/icons/svg/lock.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.minus {
  background-image: url("../assets/icons/svg/minus.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.pdf {
  background-image: url("../assets/icons/svg/pdf.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.phone {
  background-image: url("../assets/icons/svg/phone.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.phone2 {
  background-image: url("../assets/icons/svg/phone2.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.picture {
  background-image: url("../assets/icons/svg/picture.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.plus {
  background-image: url("../assets/icons/svg/plus.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.print {
  background-image: url("../assets/icons/svg/print.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.search {
  background-image: url("../assets/icons/svg/search.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.spreadsheet {
  background-image: url("../assets/icons/svg/spreadsheet.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.user {
  background-image: url("../assets/icons/svg/user.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.user-social {
  background-image: url("../assets/icons/svg/user-social.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.video {
  background-image: url("../assets/icons/svg/video.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.wrench {
  background-image: url("../assets/icons/svg/wrench.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.zip {
  background-image: url("../assets/icons/svg/zip.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.android {
  background-image: url("../assets/icons/svg/android.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.angular {
  background-image: url("../assets/icons/svg/angular.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.apple {
  background-image: url("../assets/icons/svg/apple.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.creativecommons {
  background-image: url("../assets/icons/svg/creativecommons.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.chrome {
  background-image: url("../assets/icons/svg/chrome.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.css3 {
  background-image: url("../assets/icons/svg/css3.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.desktop {
  background-image: url("../assets/icons/svg/desktop.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.drupal {
  background-image: url("../assets/icons/svg/drupal.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.firefox {
  background-image: url("../assets/icons/svg/firefox.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.globe {
  background-image: url("../assets/icons/svg/globe.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.html5 {
  background-image: url("../assets/icons/svg/html5.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.internetexplorer {
  background-image: url("../assets/icons/svg/internetexplorer.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.jquery {
  background-image: url("../assets/icons/svg/jquery.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.js {
  background-image: url("../assets/icons/svg/js.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.laptop {
  background-image: url("../assets/icons/svg/laptop.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.linux {
  background-image: url("../assets/icons/svg/linux.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.mac {
  background-image: url("../assets/icons/svg/mac.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.mobile {
  background-image: url("../assets/icons/svg/mobile.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.opera {
  background-image: url("../assets/icons/svg/opera.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.safari {
  background-image: url("../assets/icons/svg/safari.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.w3 {
  background-image: url("../assets/icons/svg/w3.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.windows {
  background-image: url("../assets/icons/svg/windows.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.wordpress {
  background-image: url("../assets/icons/svg/wordpress.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.behance {
  background-image: url("../assets/icons/svg/behance.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.blogger {
  background-image: url("../assets/icons/svg/blogger.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.delicious {
  background-image: url("../assets/icons/svg/delicious.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.deviantart {
  background-image: url("../assets/icons/svg/deviantart.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.digg {
  background-image: url("../assets/icons/svg/digg.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.facebook {
  background-image: url("../assets/icons/svg/facebook.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.flickr {
  background-image: url("../assets/icons/svg/flickr.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.github-octo {
  background-image: url("../assets/icons/svg/github-octo.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.google {
  background-image: url("../assets/icons/svg/google.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.grooveshark {
  background-image: url("../assets/icons/svg/grooveshark.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.hi5 {
  background-image: url("../assets/icons/svg/hi5.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.linkedin {
  background-image: url("../assets/icons/svg/linkedin.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.myspace {
  background-image: url("../assets/icons/svg/myspace.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.pinterest {
  background-image: url("../assets/icons/svg/pinterest.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.reddit {
  background-image: url("../assets/icons/svg/reddit.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.rss {
  background-image: url("../assets/icons/svg/rss.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.skype {
  background-image: url("../assets/icons/svg/skype.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.slashdot {
  background-image: url("../assets/icons/svg/slashdot.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.soundcloud {
  background-image: url("../assets/icons/svg/soundcloud.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.stackoverflow {
  background-image: url("../assets/icons/svg/stackoverflow.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.stumbleupon {
  background-image: url("../assets/icons/svg/stumbleupon.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.technorati {
  background-image: url("../assets/icons/svg/technorati.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.tumblr {
  background-image: url("../assets/icons/svg/tumblr.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.twitter-bird {
  background-image: url("../assets/icons/svg/twitter-bird.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.twitter-t {
  background-image: url("../assets/icons/svg/twitter-t.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.youtube {
  background-image: url("../assets/icons/svg/youtube.svg");
}
