/**
  * @file
  * Drupal pager styling
*/
$primary_color: $color-secondary;
$secondary_color: $color-primary-bg;

.pager {
  display: table;
  clear: both;
  margin: 0.4em auto;
  padding: 0;
  text-align: center;
  font: bold 0.8em/1em;

  li {
    float: left;
    padding: 0;
    list-style: none;
    text-align: center;
    outline: 0;
  }

  a {
    @include button($secondary_color, $primary_color);

    &:hover,
    &:focus {
      color: $color-primary-bg;
    }
  }

  .pager-item {
    margin: 0.2em;
  }

  .pager-current {
    margin: -0.5em 0.6em 0;
    padding: $size-default;
    cursor: default;
    color: $primary_color;
    border: $border;
    outline: 0;
    background: $secondary_color;
    font-weight: bold;
  }
}

.pager-first,
.pager-previous,
.pager-next,
.pager-last {
  margin: 0.2em;
  border: none;

  a {
    width: 4em;
  }
}
