<div>
  <div id="block-sampleparallaxgradientblock" class="parallax-block parallax-gradient-color">
    <div class="parallax-inner d-flex d-height material">
      <div class="inner-wrapper text-left">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="parallax-content text-center">
                <h2>
                                    <span>Sample</span>
                                    Parallax Block</h2>
                <h4>Two variations with Gradient / Image parallax types
                                </h4>

                {% if logged_in %}
                <a href="/admin/structure/block/block-content" class="btn btn-outline-light"> Create new Parallax Block </a>
                {% else %}
                <a href="/user/login?destination=/admin/structure/block/block-content" class="btn btn-outline-light"> Login & Create new Parallax Block </a>
                {% endif %}

                <p class="font-italic mt-5 text-white"> <small> Note: This is sample block for demo purpose. Disable this from theme settings </small> </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
