/**
  * @file
  * Anchors / Links
*/

$c1: $color-hilight;
$c2: lighten($c1, 15%);
$c3: lighten($c1, 5%);

@if (lightness($c1) > 50) {
  $c2: darken($c1, 15%);
  $c3: darken($c1, 5%);
}
@else {
  $c2: lighten($c1, 15%);
  $c3: lighten($c1, 5%);
}

a {
  @include transition();
  color: $c1;
  border-bottom: 1px solid $c1;
  text-decoration: none;
  outline: none;

  &:visited {
    color: $c3;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    border-bottom-color: $c2;
    color: $c2;
    outline: none;
  }
}
