/**
  * @file
  * Tables
*/
$table_border: $color-neutral 1px solid;
$cell_border: $color-secondary 1px solid;

table {
  margin: 0 auto;
  border-collapse: collapse;

  img {
    display: inline;
    padding: 0;
  }
}

th,
thead {
  text-align: center;
  color: $color-secondary;
  border: $cell_border;
  font-family: $h-font;
  font-size: $default-size;
  font-weight: $h-weight;
}

tr:nth-child(even) {
  background: darken($color-primary-bg, 5%);
}

tr:nth-child(odd) {
  background: $color-primary-bg;
}

td {
  @include round($size-nano, "bottom");

  padding: $size-nano;
  border: $cell_border;
}

tfoot {
  text-align: center;
  font-style: italic;
}
