/**
  * @file
  * Media
*/

img,
object {
  display: inline;
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

a img {
  border: none;
  outline: none;
}

/*
  iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* Wrap iframes for positioning */
.iframe-wrap {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%; /* 16:9 */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
