/**
  * @file
  * Fallback PNG icons for browsers w/o SVG support
*/

@import "variables";

@if($use_ui_icons){
  @each $icon in $ui_icons {
    .icon.#{$icon} {
      background-image: url('#{$icon_source_png}#{$icon}.png');
    }
  }
}

@if($use_tech_icons){
  @each $icon in $tech_icons {
    .icon.#{$icon} {
      background-image: url('#{$icon_source_png}#{$icon}.png');
    }
  }
}

@if($use_social_icons){
  @each $icon in $social_icons {
    .icon.#{$icon} {
      background-image: url('#{$icon_source_png}#{$icon}.png');
    }
  }
}