/**
  * @file
  * Old Internet Explorer is breakin internetz.
*/

@import 'variables';

body {
  word-wrap: break-word;
}

img {
  -ms-interpolation-mode: bicubic;
}

legend {
  // because legend doesn't inherit in IE
  color: $color-secondary;
}

input,
textarea,
select {
  // to enable resizing for IE
  *font-size: 100%;
}

input {
  &[type='checkbox'],
  &[type='radio'] {
    display: inline;
    margin: $size-tiny;
    vertical-align: middle;

    &:focus {
      border: $default-border;
    }
  }
}

#{$cells} {
  zoom: 1;
}
