/**
  * @file
  * Styling for printed pages
*/

@import 'variables';

@media print {
  img,
  p {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  a,
  a:visited {
    text-decoration: underline;
    color: $swatch-blue;

    &:after {
      content: ' (' attr(href) ')';
    }
  }
  code a:after {
    content: none;
  }

  pre,
  code,
  blockquote {
    border: 1px solid $color-secondary;
    page-break-inside: avoid;
  }

  #app,
  #content-wrap,
  #content-main {
    width: 100%;
  }

  #header,
  #footer,
  .hidden {
    display: none;
    visibility: hidden;
  }
}
