/**
  * @file
  * Logo link style
*/

#logo {
  // Container for logo
  float: left;
  left: 5%;
  z-index: 9;

  a {
    // Logo link to frontpage.
    display: block;
    text-indent: -999em;
    width: $logo_width;
    height: $logo_height;
    padding: $logo_pad;
    background-image: $logo_png;
    // Offset bg position by padding to center image.
    background-position: $logo_pad $logo_pad;
    background-repeat: no-repeat;
    border: none;
    text-decoration: none;
    @include box-shadow(0 0 0 0 $white);

    &:hover {
      @include box-shadow(0 -.4em .8em .2em $hilight);
      @include translate3d(0,-.1em,1em);
    }
  }
}
