/**
  * @file
  * Content region styles
*/

$regions: ();
@each $region in $rarray {
  $regions : append($regions, unquote('##{$region},'));
}
//////

body {
  overflow: hidden;
  background-color: $white;
  //background-image: $body_img;
  //@include gradient_rad($white, $white, $light_grey);
  //background-repeat: repeat;
  //background-attachment: fixed;
}

#page-wrap {
  width: 100%;
}

#app {
  z-index: 1;
  overflow: visible;
}

#content-wrap {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

// Set styles common to all regions
#{$regions} {
  margin: $region_margin;
  padding: $region_padding;
  border: $region_border;
}

#header {
  z-index: 2;
  height: 96px;
  background: $white;
  @include box-shadow(0 0 1em .1em $dark_grey);
}

#header-top {
  z-index: 4;
  background: $black;
  color: $white;
  border-bottom: $black $border;
  // Position contents left or right
  text-align: right;

  // Custom type for region
  div {
    display: inline;
  }

  h2,
  h3,
  h4 {
    color: $white;
    font-size: 1em;
    display: inline;
  }
}

#header-bottom {
  background-color: $dark_grey;
  color: $white;
}

#console {
}

#content,
#sidebar-left,
#sidebar-right,
#footer {
  position: relative;
  float: left;
  display: block;
}

#content {
  z-index: 2;
}

#content-top {
}

#content-bottom {
}

#comments {
  text-align: center;

  form {
    text-align: left;
  }
}

#sidebar-left,
#sidebar-right {
  background: $light_grey;

  h3 {
    margin: 0;
    padding: .4em;
    font-size: 1.2em;
    color: $dark_grey;
    background-color: $grey;
  }
}

#sidebar-left {
}

#sidebar-right {
}


#footer {
  background: $dark_grey;
  color: $white;


  p {
    color: $white;
  }
}

#footer-top {
  font-size: $small;
  background: $dark_grey;
  color: $light_grey;
  // Custom type for region
}

#footer-bottom {
  font-size: $small;
  background: $dark_grey;
  color: $light_grey;
  border-top: $border;
}

#copyright {
  display: block;
  padding: $small $big $small;
  text-align: right;
  font-size: 1em;
  font-weight: bold;
}
