/**
  * @file
  * Cellular Grid
*/

//////
// Grid Cells
/////
.cell,
#{$cells} {
  z-index: 1;
  position: relative;
  float: left;
  display: block;
  margin: $cell_margin;
  padding: $cell_padding;
  @include transition();

  &.center {
    float: none;
    margin: $cell_margin auto;
  }
}

.cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  @if($cell_margin > 0) {margin: 0;}
  @if($cell_padding > 0) {padding: 0;}
}

@each $cell in $grid {
  .cell-#{$cell} {
    width: unquote('#{$cell}%');
  }
}

.flexbox {
  @each $cell in $grid {
    .cell-#{$cell} {
      width: auto;
      flex-basis: unquote('#{$cell}%');
    }
  }
}

@media screen and (max-width: $res_mobile) and (min-width: 0) {
  // Set all cells to single-column
  #{$cells} {
    width: 100% - $cell_space;
    flex-basis: 100% - $cell_space;
  }
}

//Element positioning classes
.hidden {
  position: absolute;
  left: -9999px;
}

.clearfix {
  @include clearfix();
}

hr.clearfix {
  visibility: hidden;
}

.left,
.right,
.center {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  &.center {
    text-align: center;
  }
}
