/**
 * @file
 * Styling for tablets & other narrow devices included in style.css
 */

@media screen and (min-width: $res_mobile) and (max-width: $res_narrow) {

  #page-wrap {
  }

  #content-wrap {
  }

  #header {
    //height: auto;
  }

  #logo {

    &:hover {
    }

    & > a {
    }
  }

  #app {
  }

  #content-wrap {
  }

  #content {
  }
}
