/**
  * @file
  * Content region styles
*/

// Set styles common to all regions from variables/content_regions
#{$regions} {
  @if($region_margin > 0){margin: $region_margin;}
  @if($region_padding > 0){padding: $region_padding;}
  @if($region_border > 0){border: $region_border;}
}
//////

#page-wrap {}

#app {
  z-index: 1;
  max-width: $container_width;
  margin: 0 auto;
  @if (($header_position == absolute) or ($header_position == fixed)) {
    margin-top: $header_height;
  }
}
