/**
 * @file
 * Dynamically loaded stylesheet served if declared in theme settings
 */
@import "variables";

@media screen and (min-width: $res_default) and (max-width: $res_large) {
  body {
    // background: url(../assets/images/background-body.png) no-repeat;
  }

  #logo {

    &:hover {
    }

    & > a {
    }
  }

  #header-top {
  }
  
  #header {
  }

  #header-bottom {
  }

  #app {
  }

  #content-wrap {
  }

  #content-top {
  }

  #content {
  }

  #content-bottom {
  }

  #sidebar-left,
  #sidebar-right {
  }

  #footer-top {
  }

  #footer {
  }

  #footer-bottom {
  }
}
