/**
 * @file
 * Dynamically loaded styling for mobile devices
 */
@import "variables";

@media screen and (max-width: $res_mobile) {
  body {
    // background: url(../assets/images/mobile-background-body.png) no-repeat;
  }

  #logo {

    &:hover {
    }

    & > a {
    }
  }

  #header-top {
  }

  #header {
  
  }

  #header-bottom {
  }

  #app {
  }

  #content-wrap {
    
  }

  #content-top {
  }

  #content {
  }

  #content-bottom {
  }

  #sidebar-left,
  #sidebar-right {
  }

  #footer-top {
  }

  #footer {
  }

  #footer-bottom {
  }
}
