/*****
Cellular :: IE (Internet Explorer iz breakin teh internetz...)

(c)2012 Adam Blankenship
www.abctahoe.net
*****/
//////
@import "variables";

//////

body, * {
  zoom: 1.0;
}

body {
  word-wrap: break-word;
}

img {
  -ms-interpolation-mode: bicubic;
}

legend {
  // because legend doesn't inherit in IE
  color: $light_grey;
}

input,
textarea,
select {
  // to enable resizing for IE
  *font-size: 100%;
}
input {
  &[type=checkbox],
  &[type=radio] {
    display: inline;
    margin: $tiny;
    vertical-align: middle;

    &:focus {
      border: $border;
    }

  }
}

.cell,
.cell-90,
.cell-80,
.cell-75,
.cell-70,
.cell-66,
.cell-60,
.cell-50,
.cell-40,
.cell-33,
.cell-30,
.cell-25,
.cell-20,
.cell-10 {
  overflow: visible;
}

// Custom styles
.ribbon {
  margin: 0;
}

.center {
  display: block;
}

.dropShadow {
  border: none;
  //* IE drop shadow looks like crap...
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='$c1000')";
  //IE 5.5 - 7
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='$c1000');
}

.jBlocklink {
  margin: 0;
  border: $light_grey 1px solid;

  &:hover {
    border-color: $hilight;
  }
}
