.menu,
.inline.links{
  display: block;
  clear: both;
  margin: 0.4em;

  li {
    display: inline;
    display: inline-block;
    margin: .2em;
    padding: 0;
  }

  a {
    @include button($white, $dark_grey, $hilight, 'flat');
    padding: 0.2em 0.4em;
  }
}

.links {
    padding: 1em;
    border-bottom: 1px solid;
    background-color: transparent;
    list-style: none;
    @include clear();
    li {
  float: left;
display: block;
    }
    a {
      &,
      &:visited {
        padding: .4em .8em;
        border: 1px solid;
        color: $white;
        background-color: $dark_grey;
        @include round($tiny);
      }
      &.active,
      &:active,
      &:focus,
      &:hover {
        color: $hilight;
        background-color: $white;
      }
    }
  }