/**
  * @file
  * CellularUI : jBlocklink
*/

.jBlocklink {
  padding: .8em;
}

.cellular {

  &.jBlocklink-link {
    display: inline-block;
    vertical-align: top;
    margin: 1em;
    color: $panel_color;
    background: $panel_background;
    box-shadow: 0 0 .1em .1em $light_grey;
    @include transition();

    p,
    a {
      color: $grey;
      text-decoration: none;
    }

    img {
      //@include transition();
    }

    &.active,
    &:active,
    &:hover,
    &:focus {
      color: $active_color;
      text-decoration: none;
      box-shadow: 0 0 .3em .3em $light_grey;

      p,
      a {
        color: $active_color;
        text-decoration: none;
      }
    }

    &.focus {
      text-decoration: underline;
    }
  }
}
