/**
  * @file
  * CellularUI : jTabs
*/

.jTabs-wrap {
  display: block;
  clear: both;
  margin: 0;
  padding: 0;

  .panel {
    clear: both;
    z-index: 1;
    bottom: 1px;
  }

  & > ul {
    margin: 0;
    padding: 0;
  }

  .tab {
    float: left;
    margin: 0 0 0 0.1em;
    z-index: 2;

    &:first-child {
      margin-left: 0;
    }

    .title {
      padding: .4em .6em;
      border: $border_color 1px solid;
    }

    &.active {
      background-color: $panel_background;
      color: $panel_color;

      .title {
        color: $panel_color;
        background: $panel_background;
        border-bottom-color: $panel_background;

        a {
          color: $panel_color;
        }
      }
    }
  }

  // Vertical Tab Styling
  &.vertical {

    & > ul {
      float: left;
      width: 25%;
      //margin: 0;
    }

    .panel {
      display: inline;
      display: inline-block;
      clear: none;
      bottom: 0;
      right: 1px;
    }

    .tab {
      display: block;
      float: none;
      margin: .1em 0;

      &:first-child {
        margin-top: 0;
      }

      .title {
        padding: .4em 1%;

        a {
          padding: 0 1em;
        }
      }

      &.active {
        // border-color: $panel_background;

        .title {
          border-right-color: $panel_background;
          border-bottom-color: $panel_color;
        }
      }
    }
  }
}

