/**
  * @file
  * CellularUI : jAccordion
*/

.jAccordion {

  li {
    margin: 0 auto 1px;
  }

  .title {
    // padding-left: 2em;
    // background-size: 1em;
    // background-repeat: no-repeat;
    // background-position: left center;
    // background-image: url(../assets/icons/svg/plus.svg);
    border: $border_color .1em solid;
    border-bottom: none;
    @include transition('background-color', .4s);
  }

  .panel {
    // border-top: .4em solid;
  }

  .active {

    .title {
      // background-size: 1em;
      // background-image: url(../assets/icons/svg/minus.svg);
    }
  }
}
