/**
  * @file
  * Tables
*/
$table_border: $grey 1px solid;
$cell_border: $light_grey 1px solid;

table {
  margin: 0 auto;
  border-collapse: collapse;

  img {
    display: inline;
    padding: 0;
  }
}

th,
thead {
  font-family: $h_font;
  font-weight: $h_weight;
  font-size: $normal;
  text-align: center;
  color: $dark_grey;
  border: $cell_border;
}

tr:nth-child(even) {
  background: darken($white, 5%);
}

tr:nth-child(odd) {
  background: $white;
}

td {
  padding: $tiny;
  border: $cell_border;
  @include round($tiny, 'bottom');
}

tfoot {
  font-style: italic;
  text-align: center;
}
