/**
  * @file
  * Base body style.
*/

html {
  background: $white;
  overflow: auto;
  // Force scrollbar display to prevent flicker
  overflow-y: scroll;
}

body {
  float: left;
  width: 100%;
  //@include gradient_rad($white, $white, $light_grey);
  //background-image: $body_img;
  //background-repeat: repeat;
  //background-attachment: fixed;
}
