/**
  * @file
  * Primary #main-menu styling
*/

// Display multi-level links using css dropdowns?
$showDropdowns: true; // Enable dropdowns or not
$direction: "left"; // "left" || "right" : Direction of secondary flyout lists.

// Primary Navigation
#main-menu {
  position: absolute;
  top: 2em;
  right: 0;
  margin: 0 0 0 15%;
  padding: 0;
  @include transition();

  a {
    &,
    &:visited {
      // Common link styling
      z-index: 2;
      display: block;
      margin: 0;
      padding: .4em .8em;
      font-family: $h_font;
      font-size: $normal;
      text-align: left;
      font-weight: normal;
      white-space: nowrap;
      text-decoration: none;
      color: $grey;
      background: $white;
      box-shadow: $grey 0 0.1em 0.25em;
      border: none;
      border-radius: unset;

      &:hover,
      &:focus,
      &:active,
      &.active {
        text-decoration: none;
        background: $hilight;
        color: $white;
      }
    }
  }

// Top level list
  > li {

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.parent:after {
      position: absolute;
      bottom: 0;
      right: 0;
      @include triangle(0.8em, 0.6em, $grey, 'down');
      &:hover {
        @include triangle(0.8em, 0.6em, $hilight, 'down');
      }
    }
  }


  li {
    float: left;
    display: block;
    width: auto;
    max-width: none;
    list-style: none;
    margin: 0 .5em;
    padding: 0;

    // Nested menus.
    ul {
      z-index: 1;
      position: absolute;
      top: 2.2em;
      margin: 0;
      overflow: hidden;
      max-height: 0;
      background: darken($white, 5%);
      background: rgba(darken($white, 5%), 0.9);
      color: $grey;
      border: none;
      @include transition();
      @if($direction == "left"){
        right: 0;
        //border-right: 1px solid;
        padding: 0 0.1em 0 0;
        text-align: right;
      }
      @else {
        left: 0;
        //border-left: 1px solid;
        padding: 0 0 0 0.1em;
        text-align: left;
      }

      &.active {
        overflow: visible;
      }
    }

    @if ($showDropdowns) == true {
      // First lefel dropdown
      &:focus,
      &:hover,
      &.active {
        > ul {
          max-height: 20em; // May need to adjust up/down depending on # of nested items
          @include transition();
        }
      }

      li {
        float: none;
        width: 100%;
        margin: 0 0 0.1em 0;
        padding: 0;
        border: none;

        ul {
          max-height: unset;
          top: 0;
          width: 0;
          @if($direction == "left"){
            left: initial;
            right: 100%;
          }
          @else {
            left: 100%;
            right: initial;
          }
        }
        // Secondary++ menu fly-out
        &.active,
        &:focus,
        &:hover {
          > ul {
            width: 100%;
          }
        }

      }
    }
    &.parent:after {
      position: absolute;
      bottom: 0;
      $direction: 0;
      @include triangle(0.8em, 0.6em, $grey, $direction);
      &:hover {
        @include triangle(0.8em, 0.6em, $hilight, $direction);
      }
    }
  }
}
