/**
  * @file
  * Typographic style classes
*/
.big {
  font-size: $big;
}
.small {
  font-size: $small;
}
.tiny {
  font-size: $tiny;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
