/**
  * @file
  * Page or category specific styling
  * Cellular adds <body> classes based on the content URL,
  * splitting at each '/'
  * i.e. mysite.com/content/audio/mytrack.html
  * <body class="content audio">
*/

.frontpage {
}
