/**
  * @file
  * Parallax styling.
*/

.parallax-panels {
  /* Styling for regions used in parallax display. */

  .panel-content {
    position: relative;
    z-index: 1;

    &:last-child {
      margin-bottom: 0;
    }

    &.parallax {
      position: relative;
      overflow: hidden;
      height: 600px; /* Fallback. */
      height: 100vh;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}

.parallax {
  /* Set images used in parallax panels. */
  &.g1 {
    background-image: url("../assets/images/jpg/1.jpg");
  }

  &.g2 {
    background-image: url("../assets/images/jpg/2.jpg");
  }

  &.g3 {
    background-image: url("../assets/images/jpg/3.jpg");
  }

  &.g4 {
    background-image: url("../assets/images/jpg/4.jpg");
  }

  &.g5 {
    background-image: url("../assets/images/jpg/5.jpg");
  }
}
