{#
/**
 * @file
 * Default theme implementation for 404 page.
 *
 */
#}
{% include '@cellular/includes/header.html.twig' %}
<div class="page-404">
  <h1>404</h1>
  <h2>Page Not Found</h2>
  <p>Please return back to the site's <a href="/" class="home-link">homepage</a></p>
</div>
{% include '@cellular/includes/footer.html.twig' %}
