/**
  * @file
  * Colorbox Core Style.
  *
  * The default colorbox stylesheet will be unset in drupal preprocess.
*/

$isize: 32px;
$ioffset: 6px;
$border: .4em;

// Links to colorbox.
a{
  &.colorbox {
    display: inline-block;
    margin: auto;
    box-shadow: 0 0 .2em 0.1em $light_grey;
  }
  &:hover.colorbox,
  &:focus.colorbox {
    box-shadow: 0 0 .3em 0.1em $hilight;
  }
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $black;
}

#cboxCurrent {
  position: absolute;
  bottom: 0;
  left: 3em;
  color: $grey;
}

#cboxSlideshow,
#cboxPrevious, 
#cboxNext, 
#cboxClose {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  width: $isize;
  height: $isize;
  margin: 0;
  padding: 0;
  border: thin solid $white;
  text-indent: -9999px;
  box-shadow: unset;
  background-image: url(../assets/icons/png/controls.png);
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    outline: 0;
  }
}

#cboxSlideshow,
#cboxPrevious,
#cboxNext {
  bottom: 0;
  background-color: $grey;
  @include transition();

  &:hover,
  &:focus {
    background-color: $hilight;
    box-shadow: inset 0 0 0.3em 0.1em $dark_grey;
  }
}

#cboxSlideshow {
  right: 3em;

  &:hover,
  &:focus {
    background-color: $hilight;
  }
}
// Play.
.cboxSlideshow_off #cboxSlideshow {
  background-position: -8px $ioffset;
}

// Pause.
.cboxSlideshow_on #cboxSlideshow {
  background-position: -54px $ioffset;
}

#cboxPrevious {
  left: 0;
  background-position: -26px $ioffset;
}

#cboxNext {
  right: 0;
  background-position: -90px $ioffset;
}

#cboxClose {
  top: -2.2em;
  right: -2.2em;
  background-color: $red;
  background-position: -121px $ioffset;
  @include transition();

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0.3em 0.1em lighten($red, 10%);
    background-color: lighten($red, 10%);
  }
}


/**
  * Avoid outlines on :active (mouseclick),
  * but preserve outlines on :focus (tabbed navigating)
*/
.cboxPhoto {
  display: block;
  float: left;
  margin: auto;
  border: 0;
  max-width: none;
}

.cboxIframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

//////
// Colorbox frame
//////
#cboxWrapper {
  padding: 0;
  background: $white;
  @include border-radius();
}

#cboxTitle {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
  margin: 0;
  padding: .4em .8em;
  color: $light_grey;
  background: rgba($black, 0.8);
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#cboxLoadingOverlay {
  background-color: rgba($white, 0.7);

}

#cboxLoadingGraphic {
  background-image: url(../assets/images/gif/spinner_24.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

/* Reset box sizing to content-box if theme is using border-box. */
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
}

#colorbox, 
#cboxOverlay, 
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

#colorbox {
  outline: 0;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  margin-bottom: 2em;
  -webkit-overflow-scrolling: touch;
}

#cboxTopLeft
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomRight {
  z-index: 9;
  width: $border;
  height: $border * .8;
  z-index: 9;
}

#cboxMiddleLeft,
#cboxMiddleRight {
  z-index: 9;
  width: $border;
}

#cboxTopCenter,
#cboxBottomCenter {
  z-index: 9;
  height: $border * .8;
}

#cboxContent {
}

#cboxError {
  padding: 4em;
  border: 1px solid $light_grey;
}

#cboxLoadedContent {
  // margin-bottom: 2em;
}
