/**
  * @file
  * Anchors / Links
*/

$c1: $hilight;//$hilight;
$c2: lighten($c1, 15%);
$c3: lighten($c1, 5%);

@if (lightness($c1) > 50) {
  $c2: darken($c1, 15%);
  $c3: darken($c1, 5%);
}

a {
  color: $c1;
  text-decoration: none;
  outline: none;
  //display: inline-block;
  @include transition();

  &:visited {
    color: $c3;
  }

  &:hover,
    &:active,
    &:focus {
    outline: none;
    text-decoration: underline;
    color: $c2;
  }
}