/**
  * @file
  * Typography
*/

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('https://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url('https://themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

body {
  text-rendering: optimizeLegibility;
  font-size: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  font-family: $p_font;
  line-height: $p_line_height;
  color: $p_color;
}

p {
  display: block;
  max-width: $p_max_width;
  margin: 0 auto;
  padding: 0 $normal ($p_line_height * 0.5);
  color: $p_color;
}

small {
  font-size: $small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  clear: both;
  font-family: $h_font;
  font-weight: $h_weight;
  line-height: 1.1em;
  margin: 1em auto .2em auto;
  padding: 0.4em .4em 0 1em;
}

h1 {
  margin: 0;
  padding: 1.4em 1em 0.8em;
  font-size: $h_size;
  text-align: center;
  color: $black;
  border: none;
}

h2 {
  font-size: $h_size * .8;
  color: $h_color;
}

h3 {
  font-size: $h_size * .7;
  color: darken($h_color, $adjust);
}

h4 {
  font-size: $h_size * .6;
  color: darken($h_color, $adjust * 2);
}

h5 {
  font-size: $h_size * .5;
  color: darken($h_color, $adjust * 3);
}

h6 {
  font-size: $h_size * .4;
  color: darken($h_color, $adjust * 4);
}

sub,
sup {
  position: relative;
  font-size: $p_size * .75;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -($p_size * 0.5);
}

sub {
  bottom: -($p_size * .25);
}

blockquote,
q,
quote {
  font-style: italic;
  color: $dark_grey;
  background-color: darken($white, 10%);
  color: $dark_grey;

  &:before {
    content: "\201C";
  }
  &:after {
    content: "\201D";
  }
}

q,
quote {
  font-size: $p_size * 1.4;
}

blockquote {
  display: block;
  font-size: $p_size * 1.8;
  margin: $tiny $big;
  padding: $normal;
  border-left: $tiny solid;
}

caption {
  text-align: left;
}

code {
  font-family: "Courier New", Courier, monospace;
}

pre {
  display: block;
  margin: 1em auto;
  padding: 1em;
  overflow: scroll;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

abbr,
acronym {
  border: 0;
  font-variant: small-caps;
  font-weight: bold;
}
