/**
  * @file
  * Logo link style
*/

.logo {
  // Container for logo
  z-index: 9;
  float: left;
  padding: $logo_pad;
  transition: all 300ms;

  a {
    // Logo link to frontpage.
    display: block;
    text-indent: -999em;
    width: $logo_width;
    height: $logo_height;
    background-image: $logo_png;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    text-decoration: none;
    transition: width,height,padding 300ms ease-in-out;
    @include box-shadow(0 0 0 0 $white);

    &:hover {
      @include box-shadow(0 0 .4em 0 $hilight);
      //  @include translate3d(0,-.1em,1em);
    }
  }
}
