@import "../../_variables/_index";

@mixin button(
  $size: '',
  $color: $color-hilight, 
  $background: $default-background,
  $border: '',
  $button-type: ''
  ) {    

    // Define vars based on params.
    $color-2: '';
    $background-2: '';

  @if (lightness($color) < 50%) {
    $color-2: lighten($color, 10%);
  }

  @else {
    $color-2: darken($color, 10%);
  }

  @if (lightness($background) < 50%) {
    $background2: lighten($background, 20%);
  }

  @else {
    $background2: darken($background, 20%);
  }

  // Define Base button styles

  & {
    color: $color;
    border: $color 2px solid; 
    background-color: $background;
    font-family: $h-font;
    font-weight: $button-font-weight;
    line-height: normal;
    width: auto; 
    margin: $nano auto;
    padding: $small $default-size;
    cursor: pointer;
    text-align: center;
    @include drop-shadow();
    
    &:visited {
      color: $color;
      background-color: $background;
    }

    &.active,
    &:active {
      cursor: default;
    }

    &.active,
    &:active,
    &:hover {
      cursor: pointer;
      text-decoration: none;
      outline: none;
      border-color: $color-hilight;
      @include border-radius(0.1em);
      @include box-shadow($color-hilight);
      @include drop-shadow($color-hilight);
    }
  }
}
