@mixin button($type: "primary", $size: $p-size ) {
 
  // Set default component vars
  $colour: $color-hilight;
  $colour-1: darken($colour, 10%);
  $background-colour: "";
  $background-colour-1: "";
  $inset-depth: -2em;

  $insit: inset 0 $inset-depth;
  $insit-1: "";
  /*
  @if (blackness(($color-primary-bg) < 50%)) {
  }
  @else {
  }
  */
  // Set component props based on type.
  @if($type=="primary") {
    $background-colour: $color-hilight;
    $background-colour-1: "";
    $colour: $color-primary-bg;
    $colour-1: "";
    $insit: rgba(0, 0, 0, 0.25) 0px 25px 50px $inset-depth;
    $insit-1: rgba(0, 0, 0, 0.25) 0px 1px 1px $inset-depth;
  }
  @else if ($type == "secondary") {
    $background-colour: $color-primary;
    $background-colour-1: "";$colour: $color-primary-bg;
    $colour: $color-primary-bg;
    $colour-1: "";
    $insit: rgba(0, 0, 0, 0.25) 0px 25px 50px $inset-depth;
    $insit-1: rgba(0, 0, 0, 0.25) 0px 25px 50px $inset-depth;
  }
  @else if ($type == "tertiary") {
    $background-colour: $color-tertiary-bg;
    $background-colour-1: "";
    $colour: $color-tertiary;
    $colour-1: "";
    $insit: rgba(0, 0, 0, 0.25) 0px 25px 50px $inset-depth;
    $insit-1: rgba(0, 0, 0, 0.25) 0px 25px 50px $inset-depth;
  }

  // Set button defaults.
  color: $colour;
  background: $background-colour;
  cursor: pointer;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  text-align: center;
  line-height: normal;
  margin: $nano auto;
  padding: $small $default-size;
  width: auto; 
  border: 1px solid $colour;
  box-shadow: $insit-1 $colour, $insit $colour, $insit-1 $colour;
  @include round($nano);

  // Set Default/Visited states
  &,
  &:visited {
    color: $colour;
    background-color: $background-colour;
  }
  // Set Active/Hover/Focus states.
  &:active,
  &.active,
  &:hover,
  &:focus {
    background-color: $colour-1;
    box-shadow: $insit-1 $colour-1;
  }
}