/**
  * @file
  * CSS loading indicators.
  * http://codepen.io/TaniaLD/pen/oKxep
  * http://projects.lukehaas.me/css-loaders/
  * https://github.com/jh3y/whirl/
*/

@import "loaders/bar";
@import "loaders/cdots";
@import "loaders/clock"; 
@import "loaders/dots";
@import "loaders/hourglass";
@import "loaders/prop" ;
@import "loaders/ring";
@import "loaders/ring1";
@import "loaders/spinna";
@import "loaders/wave";

$i_color: #fff;
$i_size: 1em;
$i_border: 0.3em;
$i_speed: 2s;
$i_ease: linear;

/* @import 'animations' */

@mixin loader(
  $name: '',
  $url: '',
  $size: $i_size,
$color: $i_color,
$speed: $i_speed
) {
  /*  */
  position: relative;
  padding-right: $size;

  &:after {
    position: absolute;
    z-index: 10;
    top: 0;
    right: -($size * 2);
    display: block;
    width: $size;
    height: $size;
    content: "";

    /* margin: 0 ($size * .5); */

    @if $name == "img" {
      background-image: url($url);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    @if $name == "bar" {
      @include bar($size, $color, $speed);
    }

    @if $name == "clock" {
      @include clock($size, $color, $speed);
    }

    @if $name == "cdots" {
      @include cdots($size, $color, $speed);
    }

    @if $name == "dots" {
      @include dots($size, $color, $speed);
    }

    @if $name == "hourglass" {
      @include hourglass($size, $color, $speed);
    }

    @if $name == "prop" {
      @include prop($size, $color, $speed);
    }

    @if $name == "ring" {
      @include ring($size, $color, $speed);
    }

    @if $name == "ring1" {
      @include ring1($size, $color, $speed);
    }

    @if $name == "spin1" {
      @include spin1($size, $color, $speed);
    }

    @if $name == "spinna" {
      @include spinna($size, $color, $speed);
    }

    @if $name == "wave" {
      @include wave($size, $color, $speed);
    }
  }
}