/**
  * @file
  * Parallax styling.
*/
// HTML:
// .parallax
// #group.parallax-group
// .parallax-layer
// &.parallax-base
// &.parallax-front
// &.parallax-back

.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax-group {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax--top {
  transform: translateZ(90px) scale(.7);
  z-index: 10;
  background: rgba($green, 0.7);
}

.parallax--base {
  transform: translateZ(0);
  z-index: 4;
  background: $red;
}

.parallax-back {
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax-deep {
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}


/* centre the content in the parallax layers */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

  