.date-clear {
  text-indent: 1em;
  > label {
    text-indent: 1em;
  }
}
label,input,textarea,select {
  &.date-clear {
    text-indent: unset;
  }
}

.date-no-float {
  display: block;
  @include clear();
}

.date-float {
  clear: none;
  float: left;
  width: auto;
}
