
@mixin hourglass($size, $color, $speed) {
    $border: ($size * 0.1);
    $ease: ease-in-out;
  
    /* Reset size for pseudo elements */
    $size: $size * 0.4;
    $ss: $size * 0.75;
  
    @include ani_spin();
  
    width: $size;
  
    /*  */
    height: $size;
    transform-origin: 50% 50%;
    animation: spin $speed $ease infinite;
    border: ($size * 0.1) solid darken($color, 10%);
    border-radius: 50%;
  
    &:before,
    &:after {
      position: absolute;
      left: $size * 0.5;
      width: 0;
      height: 0;
      content: "";
      border-style: solid;
    }
    &:before {
      top: $size * 0.3;
      transform-origin: 50% 0;
      border-width: $size $ss 0 $ss;
      border-color: $color transparent transparent transparent;
    }
    &:after {
      top: $size + ($size * 0.2);
      transform-origin: 50% 100%;
      border-width: 0 $ss $size $ss;
      border-color: transparent transparent $color transparent;
    }
  }