/**
  * @file
  * Styling DOM classes provided by drupal
*/

// Declared here in case the core css is disabled.
.element-invisible {
  position: absolute !important;
  left: -999em;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

// Prevent transitions of jquery-ui elements- makes for jankiness....
[class*="ui-"],
[class^="ui-"] {
  @include transition(none);
}

//////
// cTools
//////
.ctools-locked {
  color: $red;
  border: 1px solid $red;
  padding: 1em;
}

.ctools-owns-lock {
  background: lighten($yellow, 50%);
  border: 1px solid $yellow;
  padding: 1em;
}

// Loading throbber.
.ctools-ajaxing {
  background: $loading center center no-repeat;
}

a,
input,
button,
select {

  &.ctools-ajaxing {
    padding-right: 18px;
  }
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
}

.tabs.primary {
  margin: 2em 0 1em;
  background-color: lighten($light_grey, 20%);
  border-bottom: $grey 1px solid;

  li {
    list-style: none;
    display: inline;
    margin: 0 .1em;
  }

  a {
    padding: .4em .8em 0.2em;
    color: $dark_grey;
    border: $grey 1px solid;
    border-bottom: none;
    background-color: $light_grey;
    @include round_top();

    &.active {
      background-color: $white;
    }

    &:hover {
      background-color: lighten($light_grey, 20%);

    }
  }
}

.menu,
.inline.links {
  list-style: none;
  margin: 0 0 .4em .4em;

  li {
    display: inline;
    display: inline-block;
    margin: .2em;
    padding: 0;
  }

  a {
    @include button();
    padding: .4em .6em;
  }
}

.comment {

  .links {
    text-align: left;

    &.inline {
      li {
        list-style: none;
        display: inline
      }
    }
  }
}
