/**
 * @file
 * Drupal pager styling
 */

.pager {
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  font: bold .8em/1em Arial, sans-serif;
  text-align: center;


  li {
    float: left;
    text-align: center;
    padding: 0;
    outline: 0;
    list-style: none;
  }

  a,
    a:visited {
    padding: $normal;
    color: $dark_grey;
    display: block;
    cursor: pointer;
    background: darken($white, 5%);
    border: $border;
  }

  a:hover,
    a:focus {
    background: $white;
    color: $hilight;
    border-color: $hilight;
  }

  .pager-current {
    margin: .2em;
    padding: $normal;
    background: $white;
    color: $hilight;
    border: $border $hilight;
  }

  .pager-item {
    margin: .2em;
  }

  .pager-first,
  .pager-previous,
  .pager-next,
  .pager-last {
    margin: .2em;

    a,
    a:visited {
      width: 6em;
    }
  }
}