#app .menu,
.inline.links{
  display: block;
  clear: both;
  margin: 0.4em;

  li {
    display: inline;
    display: inline-block;
    margin: .2em;
    padding: 0;
  }

  a {
    @include button($white, $dark_grey, $hilight, 'flat');
    padding: .4em .6em;
  }
}
