/**
  * @file
  *  "Powered by Drupal" block.
*/

#block-system-powered-by {
  float: left;
  margin: 0 1em;
  color: $white;

  a {
    text-indent: -999em;
    float: right;
    display: block;
    width: 84px;
    height: 32px;
    background: url(../assets/images/png/drupal.png) no-repeat;
  }
}
