/**
  * @file
  * Styling DOM classes provided by drupal
*/

#search-form {
  display: block;
  @include border-radius(1em);
}

form.site-search {
  display: inline;
  display: inline-block;
  padding: .1em .8em;
  text-align: right;
  font-size: .8em;
  background-color: $light_grey;
  background-color: rgba($light_grey, 0.6);
  //border: none;
  border-bottom: $dark_grey .2em solid;
  @include border-radius(1em, 50%);

  input {
    display: inline;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 2em;
    width: auto;
    border: none;

    &[type="text"] {
      font-size: 1em;
      width: 12em;
      background: rgba($white, 0.4);
      border-bottom: $dark_grey .1em solid;
    }

    &[type="submit"] {
      float: none;
      width: 2em;
      height: 2em;
      padding: 1em;
      text-indent: -999em;
      background-position: right center;
      background-size: 1.4em;
      background-repeat: no-repeat;
      background-image: url('../assets/icons/min/png/search.png');
      background-image: url('../assets/icons/min/svg/search.svg');
      background-color: ;
      border: $grey 1px solid;
      @include border-radius(50%);
      @include transition();

      &:hover,
      &:active,
      &:focus {
        outline: none;
        color: $black;
        border-color: $hilight;
        background-size: 1.6em;
        //background-position: -.2em -.2em;

      }
    }
  }
}
