/**
  * @file
  * CellularUI : jMMenu
*/


@media screen and (max-width: $res_mobile) {
  #nav {
    ul.menu {
      // Hides navigation prior to js loading & acting on DOM to prevent
      // jankiness caused by js acting on the DOM.
      visibility: hidden;
    }
  }
}

// Styles applied after js loads
// Outside of media query since the size may change (i.e. reorient tablet) but
// the interface should be consistent- cellularui.js doesn't listen for resize
// events, and the menu needs to be available at all screen sizes.
.jMmenu-inactive,
.jMmenu-active {

  #nav {
    // Wrqpper element, used as the menu trigger.
    float: right;
    cursor: pointer;
    z-index: 10;
    width: 3em;
    height: 3em;
    padding: 0;
    background-size: 9em;
    background-repeat: no-repeat;
    background-position: left center;
    border: 2px solid $border_color;
    background-image: url('../assets/icons/min/png/menu.png');
    background-image: url('../assets/icons/min/svg/menu.svg');
    @include border-radius();
    @include transition();
    @include translate3d(0,0,0);
  }

  .jMmenu.menu {
    //Styling for menu & links.
    position: $header_position;
    top: $logo_height + ($logo_pad * 2);
    z-index: 999;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    background-color: rgba($black, 0.6);
    @include transition();
    @include translate3d(0,0,0);

    ul {
      margin: 0 0 0 .4em;
      background-color: rgba($black, 0.4);
    }

    li {
      display: block;
      margin: 0.2em auto;
      list-style: none;
      max-width: none;
    }

    a,
    a:visited {
      display: block;
      height: 1em;
      padding: .6em 1em .8em;
      text-decoration: none;
      font-size: .9em;
      font-family: $h_font;
      font-weight: bold;
      color: $white;
      background-image: none;
      border-bottom: 1px solid;
      background-color: $dark_grey;

      &.active,
      &:active,
      &:focus,
      &:hover {
        color: $hilight;
        background-color: $black;
      }
    }
  }

  // Styling common to top navigation.
  &.push-down,
  &.slide-down {
    .menu.jMmenu {
      width: 100%;
      height: 0;
      top: $header_height;
      bottom: $header_height;
    }
  }

  // Styling common to side navigation.
  &.push-left,
  &.push-right,
  &.slide-left,
  &.slide-right {
    .menu.jMmenu {
      bottom: 0;
      width: 0;
      max-width: 0;
    }
  }

  // Position left menus.
  &.push-left,
  &.slide-left {
    .menu.jMmenu {
      left: 0
    }
  }

  // Position right menus.
  &.push-right,
  &.slide-right {
    .menu.jMmenu {
      right: 0
    }
  }
}

// Inactive menu styles.
.jMmenu-inactive {
  #nav {
    &:hover {
      box-shadow: 0 0 0.2em 0.1em $hilight;
    }
  }
}

// Active menu styles.
.jMmenu-active {
  #nav {
    // Shift background to indicate state.
    background-position: right center;
    box-shadow: 0 0 0.2em 0.1em $red;
  }
  // Show the menu.
  .jMmenu.menu {
    opacity: 1;
  }

  // Styling common to top navigation.
  &.push-down,
  &.slide-down {
    .menu.jMmenu {
      bottom: 0;
      height: 100%;
    }
  }

  // Styling common to side navigation.
  &.push-left,
  &.push-right,
  &.slide-left,
  &.slide-right {
    .menu.jMmenu {
      width: 100%;
      max-width: 50%;
    }
  }

  &.push-right,
  &.push-left {
    // Push #page-wrap over to keep content visible when .jMmenu is active.
    #page-wrap {
      width: 50%;
    }
  }

  /* // Work in progress...
    &.push-down {
    .menu.jMmenu {
    bottom: 200px;
    }
    #app {
    margin-top: 80%;
    @include transition();
    }
    }
  */
}
