/**
  * @file
  * CellularUI : jScrolli
*/

$controlsize: 2em;
$setwidth: false;
$width: 800px;

// Initial style, before DOM changes
.jScrolli {
  height: 240px;
  opacity: 0;
  @include transition();
}
// Style after js applies structure
.cellular.jScrolli {
  opacity: 1;
}

.jScrolli-wrap {
  overflow: hidden;
  background-color: $panel_background;
  border: $border_color 1px solid;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  li {
    //display: inline;
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    @include transition();

    &.active {
      left: 0;

      .content {
        opacity: 1;
      }
    }

    &.previous {
      left: 0;
      right: 100%;
    }

    &.next {
      left: 100%;
      right: 0;
    }

    /* Slide content */
    .content {
      z-index: 1;
      text-align: center;
      opacity: 0;
      background: $panel_background;
      @include transition();
    }
  }

  .caption {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 2em;
    background-color: $black;
    background-color: rgba($black, 0.8);
    //max-height: 0;
    @include transition();

    p {
      max-width: none;
      margin: 0;
      padding: 0.8em;
      color: $white;
      opacity: 1;
      @include transition();
    }
  }

  .control {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    text-indent: -999em;
    width: $controlsize;
    height: $controlsize;
    color: $white;
    //background-size: $controlsize;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/png/controls.png);
    background-image: url(../assets/icons/svg/controls.svg);
    @include transition();

    &.prev,
    &.next {
      top: 50%;
      opacity: 0.2;
      background-color: $panel_color;

      &:hover,
      &:focus {
        background-color: $hilight;
      }
    }

    &.prev {
      left: 0;
      background-position: -24px 8px;
    }

    &.next {
      right: 0;
      background-position: -88px 8px;
    }

    &.play,
    &.pause {
      top: 0;
      left: 0;
      background-color: $black;
      border: $white 2px solid;
      border-radius: 50%;
      opacity: 0;
      transition: none;
    }

    &.play {
      background-position: 8px 8px;
    }
    &.pause {
      background-position: -54px 8px;
    }
  }

  .markers {/*
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 0.75em; // jScrolli-wrap padding-bottom - .marker height /2
    */
      float: left;
      position: relative;
      left: 50%;

      li {
      float: left;
      position: relative;
      left: -50%;
      }
  }

  .marker {
    //display: block;
    //float: left;
    cursor: pointer;
    display: inline;
    display: inline-block;
    text-indent: -999em;
    width: 0.5em;
    height: 0.5em;
    margin: 0.25em 0.5em;
    border: $dark_grey 1px solid;
    border-radius: 50%;
    background-color: $grey;
    @include transition();

    &.active {
      border-color: darken($hilight, 20%);
      background-color: $hilight;
      box-shadow: 0 0 0.5em 0 $hilight;
    }

    &:hover,
    &:focus {
      border-color: $hilight;
    }

    a {
      text-indent: -999em;
    }
  }


  &.active {

    .control {
      opacity: 1;
    }

    .caption {
      //max-height: none;
      //opacity: 1;
    }
  }

  /* Styles applied while .slide is transitioning */
  &.transition {

    .caption {

      p{
        opacity: 0;
      }
    }
  }
}
