<!-- =============================== footer ===============================-->

{% set social_attribute = create_attribute() %}
{%
  set social_classes = [
    'social-icons'
    cellular.display_social_round_icons ? 'round',
  ]
%}

{% if cellular.header_position == 'header-left' %}
	<footer class="page-footer container">
	{% else %}
		<footer class="page-footer">
		{% endif %}

		{% if page.footer_top %}
			{{ page.footer_top }}
		{% endif %}

		{% if page.footer_middle %}
			{{ page.footer_middle }}
		{% endif %}

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="copyright">
						<p>{{ cellular.copyright_text }}
							{{cellular.theme_credits }}</p>
						<!-- end of copyright -->
					</div>
					<div>
						{% if cellular.social_profiles | length > 0 %}
							{% include '@cellular/includes/social-icons.html.twig' %}
						{% else %}
							{% include '@cellular/includes/social-icons-empty.html.twig' %}
						{% endif %}

						<!-- end of social-icons -->
					</div>
					<!-- end of col-md-3 -->
				</div>
				<!-- end of row -->
			</div>
			<!-- end of container -->
		</div>
		<!-- end of footer Bottom -->
	</footer>
	<!-- end of page-footer -->
