<ul {{social_attribute.addClass(social_classes) }} >
  <li>
    <a href="#" class="facebook" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>
  </li>
  <li>
    <a href="#" class="google" target="_blank">
      <i class="fab fa-google-plus-g"></i>
    </a>
  </li>
  <li>
    <a href="#" class="linkedin" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  <li>
    <a href="#" class="twitter" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="#" class="youtube" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
  </li>
</ul>
