/**
  * @file
  * Content region styles
*/

#header {
  position: $header_position;
  z-index: 10;
  top: 0;
  left: 0;
  height: $header_height;
  background: $white;
  box-shadow: 0 0 1em 0.1em $dark_grey;
  will-change: height;
}

#header-top {
  z-index: 4;
  // Position contents left or right
  text-align: right;
  color: $white;
  border-bottom: $black $border;
  background: $black;

  // Custom type for region
  div {
    display: inline;
  }

  h2,
  h3,
  h4 {
    display: inline;
    color: $white;
    font-size: 1em;
  }
}

#header-bottom {
  color: $white;
  background-color: $dark_grey;
}
