// Color swatches
$adjust: 20%;
$opacity: 0.8;

$cyan: #29b4de;
$magenta: #dd2a99;
$yellow: #ec2;
$red: #8c0d00;
$green: #61d43f;
$blue: #00598e;

$white: #fefefe;
$black: #111;
$grey: #bbbab7;
$light_grey: darken($white, 5%);
$dark_grey: lighten($black, 20%);

$c1: $black;
$c2: $white;
$hilight: $cyan;
$shadow: lighten($black, $adjust);

$ok_color: $green;
$warning_color: $yellow;
$error_color: $red;
