
$card_offset: 0.4em;

.card {
  margin: $small;
  padding: $card_offset * 2.5;
  background: darken($white, 1%);
  border-radius: $tiny;
  box-shadow: 0 0.1em 0.2em 0 lighten($grey, 15%);


  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: $card_offset;
    right:  $card_offset;
    bottom: $card_offset;
    left: $card_offset;
    border: 1px solid $grey;
    border-radius: $tiny;
  }
}