/**
  * @file
  * Cellular Grid
*/

//////
// Grid Cells
/////
.cell,
.cell-100,
.cell-90,
.cell-80,
.cell-75,
.cell-70,
.cell-66,
.cell-60,
.cell-50,
.cell-40,
.cell-33,
.cell-30,
.cell-25,
.cell-20,
.cell-10 {
  position: relative;
  float: left;
  display: block;
  margin: $cell_margin;
  padding: $cell_padding;
  z-index: 1;

  &.center {
    float: none;
    margin: $cell_margin auto;
  }
}

.cell {
  // Full-size container.
  width: 100%;
  margin: 0;
  padding: 0;
}

@each $cell in $grid {
  .cell-#{$cell} {
    width: percentage($cell / 100) - $cell_space;
  }
}

@media screen and (max-width: 650px) {
  .cell,
  .cell-100,
  .cell-90,
  .cell-80,
  .cell-75,
  .cell-70,
  .cell-66,
  .cell-60,
  .cell-50,
  .cell-40,
  .cell-33,
  .cell-30,
  .cell-25,
  .cell-20,
  .cell-10 {
    width: 100%;
    margin: 0;
  }

  .responsive {
    &.cell-33 {
      width: 25% - $cell_space;
    }

    &.cell-25 {
      width: 50% - $cell_space;
    }
  }
}

//Element positioning classes
.hidden {
  position: absolute;
  left: -9999px;
}

.clearfix {
  @include clearfix();
}

hr.clearfix {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.left,
.right {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
  display: table;

  div {
    display: table-cell;
  }
}
