/**
  * @file
  * Cellular Grid
*/
$cells : ();
@each $cell in $grid {
  $cells : append($cells, unquote(".cell-#{$cell}"), comma);
}
//////
// Grid Cells
/////
.cell {
  // Full-size container.
  position: relative;
  float: left;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

#{$cells}{
  position: relative;
  float: left;
  display: block;
  margin: $cell_margin;
  padding: $cell_padding;
  z-index: 1;

  &.center {
    float: none;
    margin: $cell_margin auto;
  }
}

@each $cell in $grid {
  .cell-#{$cell} {
    width: percentage($cell / 100) - $cell_space;
  }
}

@media screen and (max-width: 650px) {
  #{$cells} {
    width: 100%;
    margin: 0;
  }

  .responsive {
    &.cell-33 {
      width: 25% - $cell_space;
    }

    &.cell-25 {
      width: 50% - $cell_space;
    }
  }
}

//Element positioning classes
.hidden {
  position: absolute;
  left: -9999px;
}

.clearfix {
  @include clearfix();
}

hr.clearfix {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.left,
.right {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
  display: table;

  div {
    display: table-cell;
  }
}
