/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
@mixin transition($transitions...) {
  // Setting the default value
  @if length($transitions) == 0 {
    $transitions: $default-transition-property
      $default-transition-duration
      $default-transition-timing
      $default-transition-delay;
  }
  transition: $transitions;
}

@mixin box-shadow($shadow...) {
  // offset-x | offset-y | blur-radius | spread-radius | color
  @if length($shadow) == 0 {
    $shadow: $default-offset $default-offset $size-tiny 1px $color-primary;
  }
  box-shadow: $shadow;
}

@mixin transition($transitions...) {
  // Setting the default value
  @if length($transitions) == 0 {
    $transitions: $default-transition-property
      $default-transition-duration
      $default-transition-timing
      $default-transition-delay;
  }
  transition: $transitions;
}

@mixin border-radius($radius...) {
  // Setting the default value
  @if length($radius) == 0 {
    $radius: $default-border-radius;
  }
  border-radius: $radius;
}

@mixin clear() {
  clear: both;
  zoom: 1;
  &:after,
  &:before {
    display: block;
    clear: both;
    width: 100%;
    content: '';
  }
}

@mixin overlay($color) {
  $opacity: 0.8;

  background-color: adjust-saturation($color, -($opacity * 10));
  background-color: rgba($color, $opacity);

  @if lightness($color) < 50% {
    color: darken($color, 70%);
    h2,
    h3,
    h4 {
      color: darken($color, 50%);
    }
    p {
      color: darken($color, 70%);
    }
  } @else {
    color: lighten($color, 70%);
    h2,
    h3,
    h4 {
      color: lighten($color, 50%);
    }
    p {
      color: lighten($color, 70%);
    }
  }
}

@mixin uniquelinks($color-hilight: $color-hilight) {
  // Unique link styling
  &:nth-child(1) a {
    border-color: darken($color-hilight, 10%);
  }
  &:nth-child(2) a {
    border-color: darken($color-hilight, 20%);
  }
  &:nth-child(3) a {
    border-color: darken($color-hilight, 30%);
  }
  &:nth-child(4) a {
    border-color: darken($color-hilight, 40%);
  }
  &:nth-child(5) a {
    border-color: darken($color-hilight, 50%);
  }
}

@mixin contrast($color) {
  @if lightness($color) < 50% {
    color: lighten($color, 70%);
    p {
      color: lighten($color, $adjust-color-biglylarge);
    }
  } @else {
    color: darken($color, 70%);
    p {
      color: darken($color, $adjust-color-biglylarge);
    }
  }
}

@mixin checkbox($size: 1em, $img: input_sprite) {
  // Apply pseudo-element selectors so old browsers still work

  &:checked,
  &:not(:checked) {
    position: absolute;
    left: -999em;

    + label {
      position: relative;
      z-index: 1;
      float: left;
      padding: 0 ($size * 2) 0 0;
      cursor: pointer;
      vertical-align: middle;
      text-indent: $size * 1.8;

      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
        content: '';
        vertical-align: middle;
      }

      &:before {
        border: $default-border;
        background: darken($color-primary-bg, 2%);
        box-shadow: inset 0 0 1px 1px $color-secondary;
      }
      &:after {
        background-image: url('../assets/icons/png/#{$img}.png');
        background-image: url('../assets/icons/svg/#{$img}.svg');
        background-repeat: no-repeat;
        background-position: -999em;
        background-size: $size * 5;
      }
    }
    &:focus {
      + label {
        &:before {
          //border: 1px dotted $color-hilight;
        }
      }
    }
    &:disabled {
      + label {
        color: $color-secondary;
        &:before {
          color: $color-secondary;
          background: $color-secondary;
        }
      }
    }
  }
}

@mixin textstroke($color: $color-primary-bg, $size: 1px) {
  text-shadow: -$size -$size 0 $color, $size -$size 0 $color,
    -$size $size 0 $color, $size $size 0 $color;
}

@mixin button(
  $color: $color-primary-bg,
  $background: $color-hilight,
  $style: 'flat'
) {
  // 'flat' || 'bevel'
  $color2: null;
  $background2: null;
  & {
    width: auto;
    margin: $size-tiny auto;
    padding: $size-small $default-size;
    cursor: pointer;
    text-align: center;
    color: $color;
    border: $color 2px solid;
    background-color: $background;
    font-family: $heading-font;
    font-weight: bold;
    line-height: normal;
    &:visited {
      color: $color;
      background-color: $background;
    }
    &.active,
    &:active {
      cursor: default;
    }
    &.active,
    &:active,
    &:hover {
      text-decoration: none;
      border-color: $color2;
      outline: none;
      //transform: translate3d(0,0.1em,1em);
      @if ($style == 'bevel') {
        @include gradient_y($background, $background);
      } @else {
        @include box-shadow($background2 0 0.1em 0.4em);

        border-color: $color-hilight;
      }
    }
    // transform: translate3d(0,0,0);
    @if ($style == 'bevel') {
      @include gradient_y($background, $background2, $background);
      @include border-radius();
    } @else {
      @include border-radius(0.1em);
      @include box-shadow($background2 0 0.1em $size-small);
    }
  }

  @if (lightness($color) < 50%) {
    $color2: lighten($color, 10%);
  }

  @if (lightness($color) > 50%) {
    $color2: darken($color, 10%);
  }

  @if (lightness($background) < 50%) {
    $background2: lighten($background, 20%);
  }

  @if (lightness($background) > 50%) {
    $background2: darken($background, 20%);
  }
}

@mixin link($color) {
  color: $color;
  &:visited {
    color: darken($color, 15%);
  }
  &:active,
  &:focus,
  &:hover {
    color: lighten($color, 15%);
  }
}

@mixin title {
  text-decoration: none;
  color: $color-primary-bg;
  background: $color-primary;
}
// Fullscreen background image
@mixin cover($url) {
  @include prefix(background-size, cover);

  background: url($url) no-repeat center center fixed;
}
// Horizontal Linear Gradient
@mixin gradient_x($color_1: $color-primary-bg, $color_2: nil, $color_3: nil) {
  background-color: $color_1;

  @if ($color_3 != nil) {
    background-image: linear-gradient(
      to right,
      $color_1 0%,
      $color_2 50%,
      $color_3 100%
    );
  } @else if($color_2 != nil) {
    background-image: linear-gradient(to right, $color_1 0%, $color_2 100%);
  } @else {
    background-image: linear-gradient(to right, $color_1 0%, $color_2 100%);

    @if (darkness($color_1) < 50%) {
      $color_2: darken($color_1, 50%);
    } @else {
      $color_2: lighten($color_1, 50%);
    }
  }
}
// Vertical Linear Gradient
@mixin gradient_y($color_1: $color-primary-bg, $color_2: nil, $color_3: nil) {
  background-color: $color_1;

  @if ($color_3 != nil) {
    background-image: linear-gradient(
      to bottom,
      $color_1 0%,
      $color_2 50%,
      $color_3 100%
    );
  } @else if($color_2 != nil) {
    background-image: linear-gradient(to bottom, $color_1 0%, $color_2 100%);
  } @else {
    background-image: linear-gradient(to bottom, $color_1 0%, $color_2 100%);

    @if (lightness($color_1) < 50%) {
      $color_2: darken($color_1, 50%);
    } @else {
      $color_2: lighten($color_1, 50%);
    }
  }
}
// Radial Gradient
@mixin gradient_rad($color_1: $color-primary, $color_2: $color-primary-bg) {
  background-color: $color_1;
  background-image: radial-gradient(
    ellipse farthest-side at center top,
    $color_1 0%,
    $color_2 100%
  );
}

@mixin round($rad: $default-border-radius, $dir: 'all') {
  @if ($dir == 'all') {
    border-radius: $rad;
  }

  @if ($dir == 'top') {
    border-top-left-radius: $rad;
    border-top-right-radius: $rad;
  }

  @if ($dir == 'right') {
    border-top-right-radius: $rad;
    border-bottom-right-radius: $rad;
  }

  @if ($dir == 'bottom') {
    border-bottom-right-radius: $rad;
    border-bottom-left-radius: $rad;
  }

  @if ($dir == 'left') {
    border-top-left-radius: $rad;
    border-bottom-left-radius: $rad;
  }
}

@mixin triangle(
  $width: $default-size,
  $height: $default-size,
  $color: $color-primary,
  $direction: 'left'
) {
  position: absolute;
  width: 0;
  height: 0;
  content: '';

  @if ($direction == 'left') {
    border-top: ($height/2) solid transparent;
    border-right: $width solid $color;
    border-bottom: ($height/2) solid transparent;
  }

  @if ($direction == 'right') {
    border-top: ($height/2) solid transparent;
    border-bottom: ($height/2) solid transparent;
    border-left: $width solid $color;
  }

  @if ($direction == 'up') {
    border-right: ($width/2) solid transparent;
    border-bottom: $height solid $color;
    border-left: ($width/2) solid transparent;
  }

  @if ($direction == 'down') {
    border-top: $height solid $color;
    border-right: ($width/2) solid transparent;
    border-left: ($width/2) solid transparent;
  }
}

@mixin ribbon(
  $width: $default-size,
  $height: $default-size,
  $color: $color-primary
) {
  position: relative;
  margin: 0 auto $height;
  padding: 0 $width;
  border-bottom: darken($color, 10%) 1px solid;
  background-color: $color;
  &:after,
  &:before {
    position: absolute;
    bottom: -$height;
    content: ' ';
    border-top: darken($color, 10%) $height solid;
  }
  &:before {
    left: 0;
    border-left: $width solid transparent;
  }
  &:after {
    right: 0;
    border-right: $width solid transparent;
  }
}

@mixin popout(
  $width: $default-size,
  $height: $default-size,
  $color: $color-primary
) {
  position: relative;
  margin: 0 0 $height;
  padding: 0 $width;
  border-bottom: darken($color, 10%) 1px solid;
  background: $color;
  &:after {
    position: absolute;
    right: 0;
    bottom: -$height;
    left: 0;
    height: 0;
    content: ' ';
    border-top: $height solid darken($color, 30%);
    border-right: $width solid transparent;
    border-left: $width solid transparent;
  }
}
