
@mixin transition($transitions...) {
    $default: (compact($default-transition-property $default-transition-duration $default-transition-function $default-transition-delay),);
    $transitions: if(length($transitions) == 1 and type-of(nth($transitions, 1)) == list and list-separator(nth($transitions, 1)) == comma, nth($transitions, 1), $transitions);
    $transitions: set-arglist-default($transitions, $default);
    @include with-each-prefix(css-transitions, $transition-support-threshold) {
      $delays: comma-list();
      $transitions-without-delays: comma-list();
      $transitions-with-delays: comma-list();
      $has-delays: false;
      // This block can be made considerably simpler at the point in time that
      // we no longer need to deal with the differences in how delays are treated.
      @each $transition in $transitions {
        // Declare initial values for transition
        $transition: transition-map($transition);
        $property: map-get($transition, property);
        $duration: map-get($transition, duration);
        $timing-function: map-get($transition, timing-function);
        $delay: map-get($transition, delay);
        // Parse transition string to assign values into correct variables
        $has-delays: $has-delays or $delay;
        @if $current-prefix == -webkit {
          // Keep a list of delays in case one is specified
          $delays: append($delays, if($delay, $delay, 0s));
          $transitions-without-delays: append($transitions-without-delays, prefixed-for-transition($current-prefix, $property) $duration $timing-function);
        }
        @else {
          $transitions-with-delays: append($transitions-with-delays, prefixed-for-transition($current-prefix, $property) $duration $timing-function $delay);
        }
      }
      @if $current-prefix == -webkit {
        @include prefix-prop(transition, $transitions-without-delays);
        @if $has-delays {
          @include prefix-prop(transition-delay, $delays);
        }
      }
      @else if $current-prefix {
        @include prefix-prop(transition, $transitions-with-delays);
      }
      @else {
        transition: $transitions-with-delays;
      }
    }
  }