/**
  * @file
  * CellularUI : jMMenu
*/

#nav.cellular {

  &.jMmenu {

    &.mini {
      // Parent ul, used as menu trigger.
      float: right;
      cursor: pointer;
      z-index: 10;
      width: 3em;
      height: 3em;
      padding: 0;
      background-color: $white;
      background-image: url('../assets/icons/min/png/menu.png');
      background-size: 9em;
      background-repeat: no-repeat;
      background-position: left center;
      border: 1px solid $light_grey;
      @include border-radius();
      @include transition();

      ul {
        // Top level ul.
        position: absolute;
        top: -13em;
        right: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        background-color: darken($white, 5%);
        @include transition();
      }

      > ul > li {

        &:first-child,
        &:last-child {
          margin-left: 0;
          margin-right: 0;
        }
      }

      li {
        float: none;
        margin: 0;

        & > ul {
          // Disable deep links.
          display: none;
        }
      }

      &.active {
        background-position: right center;

        ul {
          top: 3em;
          opacity: 1;
        }
      }
    }
  }
}
