/**
  * @file
  * CellularUI : jMMenu
*/

#nav.cellular {

  &.jMmenu {

    &.mini {
      float: right;
      cursor: pointer;
      z-index: 10;
      width: 3em;
      height: 3em;
      border: 1px solid;
      background-color: $white;
      background-size: 2em;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../assets/icons/min/png/menu.png');

      ul {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 999em;
        top: 3em;
      }

      > ul > li {
        &:first-child,
        &:last-child {
          margin-left: .4em;
          margin-right: .4em;
        }
      }

      &.active {
        ul {
          background-color: darken($white, 5%);
          right: 0;
        }
        li {
          float: none;
          margin: .1em .4em;

          & > ul {
            // Disable deep links on small screens
            display: none;
          }
        }
      }
    }
  }
}
