.menu,
.inline.links {
  display: block;
  clear: both;
  margin: 0.4em;

  li {
    display: inline;
    display: inline-block;
    margin: 0.2em;
    padding: 0;
  }

  a {
    @include button();

    padding: 0.2em 0.4em;
  }
}

.links {
  @include clear();

  padding: 1em;
  list-style: none;
  border-bottom: 1px solid;
  background-color: transparent;
  li {
    display: block;
    float: left;
  }
  a {
    &,
    &:visited {
      @include round($size-tiny);

      padding: 0.4em 0.8em;
      color: $color-primary-bg;
      border: 1px solid;
      background-color: $color-secondary;
    }
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $color-hilight;
      background-color: $color-primary-bg;
    }
  }
}
