.menu,
.inline.links {
  display: block;
  clear: both;
  margin: 0.4em;

  li {
    display: inline;
    display: inline-block;
    margin: 0.2em;
    padding: 0;
  }

  a {
    @include button($type: "primary");

    padding: 0.2em 0.4em;
  }
}

.links {
  @include clear();

  padding: 1em;
  list-style: none;

  li {
    display: block;
    float: left;
  }

  a {
    
    &,
    &:visited {

      padding: 0.4em 0.8em;
      border: 1px solid;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      
    }
  }
}
