.menu,
.inline.links {
  display: block;
  clear: both;
  margin: 0.4em;

  li {
    display: inline;
    display: inline-block;
    margin: 0.2em;
    padding: 0;
  }

  a {
    @include button();

    padding: 0.2em 0.4em;
  }
}

.links {
  @include clear();

  padding: 1em;
  list-style: none;
  background-color: transparent;

  li {
    display: block;
    float: left;
  }

  a {
    
    &,
    &:visited {
      @include round($nano);

      padding: 0.4em 0.8em;
      color: $color-secondary;
      border: 1px solid;
      background-color: $color-secondary-bg;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $color-hilight;
      background-color: $color-primary-bg;
    }
  }
}
