
.tabs.primary {
	margin: 2em 0 1em;
	border-bottom: $grey 1px solid;
	li {
		list-style: none;
		display: inline;
		margin: 0 .1em;
	}
	a {
		padding: .4em .8em 0.2em;
		color: $dark_grey;
		border: $grey 1px solid;
		border-bottom: none;
		background-color: $light_grey;
		@include round_top();
		&.active {
			background-color: $white;
		}
		&:hover {
			background-color: lighten($light_grey, 20%);
		}
	}
}