/**
  * @file
  * Styling DOM id's provided by drupal
*/

.user-links {
  float: right;
  padding: 0.2em;
  font-size: 0.9em;

  a,
  a:visited {
    margin: 0 0.2em;
    padding: 0.4em;
    text-decoration: none;
    color: $white;
  }
  a:active,
  a:hover,
  a:focus {
    text-decoration: none;
    color: $white;
  }
}
