/**
  * @file
  * Cellular Grid
*/
//////
// Grid Cells
/////
.cell,
#{$cells},
.cell-33,
.cell-66 {
  z-index: 1;
  position: relative;
  float: left;
  display: block;
  @if($cell_margin) {margin: $cell_margin + unquote('%');}
  @if($cell_padding) {padding: $cell_padding + unquote('%');}
  @include transition();

  &.center {
    margin: $cell_margin + unquote('%') auto;
  }
}

.cell {
  width: 100%;
  @if($cell_margin > 0) {margin: 0;}
  @if($cell_padding > 0) {padding: 0;}
  @if($flexbox != true) {
    @include clearfix();
  }
}

@if($flexbox) {
  .flex {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;

    &.col {flex-direction: column;}

    & > [class^="cell"] {
      width: auto;
      margin: auto;
    }
  }
}

@each $cell in $grid {
  .cell-#{$cell} {
    width: $cell - $cell_space + unquote('%');
  }

  .offset-#{$cell} {
    margin-left: $cell + ($cell_space /2) + unquote('%');
  }

  @if($flexbox){
    .flex {
      & > .cell-#{$cell} {
        flex-basis: $cell + unquote('%');
        max-width: $cell + unquote('%');
      }
    }
  }
}

/* Add in any quirky widths that can't be looped */
.cell-33 {width: 33.333333 - $cell_space + unquote('%');}
.cell-66 {width: 66.666666 - $cell_space + unquote('%');}
.offset-33 {margin-left: 33.333333 + ($cell_space /2) + unquote('%');}
.offset-66 {margin-left: 66.666666 + ($cell_space /2) + unquote('%');}

@if($flexbox){
  .flex{
    .cell-33 {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
    }
    .cell-66 {
      flex-basis: 66.666666%;
      max-width: 66.666666%;
    }

    & > #{$cells}
    & > .cell-33,
    & > .cell-66 {
      width: auto;
      margin: auto;
      /*
        &.left {
        align-self: flex-start;
        }

        &.right {
        align-self: flex-end;
        }

        &.center {
        align-self: center;
        }
      */
    }
  }
}

.container {
  max-width: $container_width;
  margin: auto;
}

@media screen and (max-width: $res_mobile) and (min-width: 0) {
  // Set all cells to single-column
  #{$cells}
  .cell-33,
  .cell-66 {
    width: 100% - $cell_space;
    @if($flexbox) {
      flex-basis: 100% - $cell_space;
      max-width: 100% - $cell_space;
    }
  }

  #{$offsets}
  .offset-33,
  .offset-66 {
    margin-left: $cell_margin + unquote('%');
  }
}

/////
//Element positioning classes
/////
.hidden {
  position: absolute;
  left: -9999px;
}

.clearfix {
  @include clearfix();
}

hr.clearfix {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.left,
.right,
.center {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  float: none;
  margin: $cell_margin + unquote('%') auto;

  @include clearfix();
}
