/**
  * @file
  * Lists
*/

hr {
  margin: $p_size 0;
  height: 1px;
  border: none;
  background-image: linear-gradient(left, rgba($grey, 0), rgba($grey, 0.75), rgba($grey, 0));
}

/////
// Lists
/////
ol,
ul,
dl {
  margin: 0 0 1em 1.4em;
  padding: 0;
  list-style-position: inside;
  width: auto;
}

ol {
  counter-reset: olCount;

  & > li {
    list-style: none;

    &:before {
      counter-increment: olCount;
      content:counter(olCount);
      display: inline;
      display: inline-block;
      text-align: center;
      margin: 0 1em 0 0;
      line-height: 1.4em;
      width: 1.4em;
      height: 1.4em;
      color: $dark_grey;
      background: $white;
      border: thin solid;
      border-radius: 50%;
    }
  }
}

ul {
  list-style-type: disc;
  // list-style-image: url("../assets/icons/svg/arrow-right.svg");
}

li {
  width: auto;
  margin: 0.3em auto 0.6em;
  max-width: $p_max_width * 0.9;
}

dt {
  margin: $small 0 0;
  font-weight: bold;
}

dd {
}
