/**
  * @file
  * CellularUI : jCard
*/
.jCard {
  @include transition();

  padding: 0.2em 0.6em;
  border: 2px solid $color-neutral;
}
.jCard-wrap {
  @include transition();

  display: inline-block;
  margin: 0.2em auto;
  padding: 0.2em;
  vertical-align: top;
  color: $panel_color;
  border: 1px solid $color-secondary;
  background: $panel_background;
  box-shadow: 0 0 0.1em 0.1em $color-secondary;

  img {
    //@include transition();
  }
  .title {
    @include transition();

    margin: 0;
    padding: 0.3em;
    background-color: $color-secondary;
    font-size: 0.9em;

    a,
    a:visited {
      color: $color-primary-bg;
    }
  }

  a,
  p,
  li {
    text-decoration: none;
    color: lighten($panel_color, 20%);
  }
  li {
    padding: 0.2em 0.8em;
  }
  &.active,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: $active_color;
    border: 1px solid $color-secondary;
    box-shadow: 0 0.4em 1em 0.3em $color-neutral;

    .jCard {
      border: 2px solid $color-secondary;
    }
    .title {
      background-color: $active_color;

      a,
      a:visited {
        color: $color-primary-bg;
      }
    }
    a,
    p,
    li {
      text-decoration: none;
      color: $active_color;
    }
  }
}
