.jModal-trigger {
}

#jModal-overlay {
  @include transition();

  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: $color-primary;
  background: rgba($color-primary, 0.7);
  &.active {
    z-index: 99;
    opacity: 1;
  }
}

.jModal-window {
  @include transition();

  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  border-radius: $nano;
  &.active {
  }
}

.jModal-content {
  @include clear();
  @include transition();

  /*
    position: absolute;
    top:1em;
    right:1em;
    bottom:  1em;
    left: 1em;
  */
  position: relative;
  display: block;
  padding: 1em;
  border: $color-neutral 1px solid;
  border-radius: 50%;
  background: $color-primary-bg;
  &.active {
    border-radius: $nano;
    .jModal-close {
      width: 1em;
      height: 1em;
      border: 0.1em solid $color-primary-bg;
      background: $color-error;
    }
  }
}

.jModal-close {
  @include transition();

  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  &:hover,
  &:focus {
    background: lighten($color-error, 10%);
  }
}
