/**
  * @file
  * CellularUI : window scrolled styling
*/
$scroll_header: $header_height / 2;
.scrolled {
  #header {
    height: $scroll_header;

    /* overflow: hidden; */
    transition: all 300ms ease;

    .logo {
      padding: 0;
      a {
        width: $scroll_header; /* You may need to weak width to fit your image. */
        height: $scroll_header;

        /* transform: scale(0.5, 0.5); */
        transition: all 500ms ease-out;
        background-size: $scroll_header $scroll_header;
      }
    }
  }
  #main-menu {
    top: 0;
  }
  .jMmenu-trigger {
    /* Element, used as the menu trigger. */
    top: ($scroll_header * 0.1) !important;
    width: $scroll_header * 0.8;
    height: $scroll_header * 0.8;
    border: $default-border;
    background-size: ($scroll_header * 0.8) * 3;
  }
  &.jMmenu-active,
  &.jMmenu-inactive {
    .jMmenu-menu {
      top: $scroll_header;
    }
  }
}
