/**
  * @file
  * CellularUI : jTooltip
*/
$btn_size: 2em; //
.jTooltip-trigger {
  z-index: 1;
}
.jTooltip-btn {
  display: inline;
  display: inline-block;
  width: $btn_size;
  height: $btn_size;
  cursor: cell;
  vertical-align: middle;
  color: $white;
  border: 1px solid $grey;
  border-radius: 50%;
  background-color: $light_grey;
}
.jTooltip-tooltip {
  @include transition();

  position: fixed;
  z-index: -1;
  display: block;
  height: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: $white;
  border-radius: $tiny;
  border-top-left-radius: 0;
  background-color: rgba($black, 0.9);
  &:after {
    @include triangle(1em, 1em, rgba($black, 0.9), "left");

    z-index: -1;
    top: 0;
    left: -1em;
    opacity: 0;
  }
  &.active {
    z-index: 10;
    height: auto;
    max-height: 32em;
    padding: 0.4em 0.8em;
    opacity: 1;
    &:after {
      opacity: 1;
    }
  }
}
