/* Horizontal Linear Gradient*/
@mixin gradient_x($color_1: $color-primary-bg, $color_2: nil, $color_3: nil) {
  background-color: $color_1;

  @if ($color_3 != nil) {
    background-image: linear-gradient(
      to right,
      $color_1 0%,
      $color_2 50%,
      $color_3 100%
    );
  } @else if($color_2 != nil) {
    background-image: linear-gradient(to right, $color_1 0%, $color_2 100%);
  } @else {
    background-image: linear-gradient(to right, $color_1 0%, $color_2 100%);

    @if (darkness($color_1) < 50%) {
      $color_2: darken($color_1, 50%);
    } @else {
      $color_2: lighten($color_1, 50%);
    }
  }
}
