/**
* @file
* Narrow/tablet media breakpoint tweaks.
*/

@include mediaquery($mediaquery-narrow) {
  /* /// */
  p {
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  h5 {
  }

  h6 {
  }

  /* //// */

  #main-menu {
    ul.menu {
    }
  }

  #logo {
    &:hover {
    }

    & > a {
    }
  }

  #page-wrap {
  }

  #header {
  }

  #app {
  }

  #content-wrap {
  }

  #content {
  }
}
