/*
 * @file
 * Conditional stylesheet for large screens.
*/
/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
/**
  * @file
  * CSS loading indicators.
  * http://codepen.io/TaniaLD/pen/oKxep
* http://projects.lukehaas.me/css-loaders/
*/
/*--------------------------------------------*/
/*--------------------------------------------*/
@keyframes alpha {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}
@keyframes bounce {
  0%,  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1em);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*---------------------------------------------------------*/
@keyframes bar {
  0% {
    width: 0px;
  }
  70% {
    width: 100%;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}
/*---------------------------------------------------------*/
@keyframes convergeA {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  50% {
    left: -150%;
    opacity: 0.8;
  }
}
@keyframes convergeB {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  50% {
    left: 150%;
    opacity: 0.8;
  }
}
/*---------------------------------------------------------*/
@keyframes orbit {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  25% {
    left: -150%;
    opacity: 0.8;
  }
  50% {
    left: 0;
    opacity: 0.3;
  }
  75% {
    left: 150%;
    opacity: 0.8;
  }
}
/*---------------------------------------------------------*/
@keyframes scaled {
  0%,100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
