/**
 * @file
 * Collect Drupal specific  styles
 */
/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
/**
  * @file
  * Styling DOM id's provided by drupal
*/
/* line 11, ../sass/drupal/_drupal-ids.scss */
#user-login-form input {
  width: 9em;
}

/**
  * @file
  * Styling DOM classes provided by drupal
*/
/* line 7, ../sass/drupal/_drupal-classes.scss */
.element-invisible {
  position: absolute !important;
  left: -999em;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* line 17, ../sass/drupal/_drupal-classes.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/* line 26, ../sass/drupal/_drupal-classes.scss */
[class*='ui-'],
[class^='ui-'] {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 33, ../sass/drupal/_drupal-classes.scss */
.ctools-locked {
  color: #8c0d00;
  border: 1px solid #8c0d00;
  padding: 1em;
}

/* line 39, ../sass/drupal/_drupal-classes.scss */
.ctools-owns-lock {
  background: white;
  border: 1px solid #eecc22;
  padding: 1em;
}

/* line 46, ../sass/drupal/_drupal-classes.scss */
.ctools-ajaxing {
  background: url("../assets/images/gif/throbber.gif") center center no-repeat;
}

/* line 55, ../sass/drupal/_drupal-classes.scss */
a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px;
}

/* line 60, ../sass/drupal/_drupal-classes.scss */
div.ctools-ajaxing {
  float: left;
  width: 18px;
}

/* line 65, ../sass/drupal/_drupal-classes.scss */
.tabs.primary {
  margin: 2em 0 1em;
  background-color: white;
  border-bottom: #bbbab7 1px solid;
}
/* line 70, ../sass/drupal/_drupal-classes.scss */
.tabs.primary li {
  list-style: none;
  display: inline;
  margin: 0 .1em;
}
/* line 76, ../sass/drupal/_drupal-classes.scss */
.tabs.primary a {
  padding: .4em .8em 0.2em;
  color: #444444;
  border: #bbbab7 1px solid;
  border-bottom: none;
  background-color: #f1f1f1;
  -webkit-border-top-left-radius: 0.3em;
  -moz-border-top-left-radius: 0.3em;
  -ms-border-top-left-radius: 0.3em;
  -o-border-top-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  -webkit-border-top-right-radius: 0.3em;
  -moz-border-top-right-radius: 0.3em;
  -ms-border-top-right-radius: 0.3em;
  -o-border-top-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
/* line 84, ../sass/drupal/_drupal-classes.scss */
.tabs.primary a.active {
  background-color: #fefefe;
}
/* line 88, ../sass/drupal/_drupal-classes.scss */
.tabs.primary a:hover {
  background-color: white;
}

/* line 96, ../sass/drupal/_drupal-classes.scss */
.menu,
.inline.links {
  list-style: none;
  margin: 0 0 .4em .4em;
}
/* line 100, ../sass/drupal/_drupal-classes.scss */
.menu li,
.inline.links li {
  display: inline;
  display: inline-block;
  margin: .2em;
  padding: 0;
}
/* line 107, ../sass/drupal/_drupal-classes.scss */
.menu a,
.inline.links a {
  cursor: pointer;
  display: inline;
  display: inline-block;
  width: auto;
  padding: 0.75em 1em;
  font-family: "Quicksand";
  font-weight: bold;
  line-height: auto;
  border: #bbbab7 1px solid;
  background-color: #fefefe;
  color: #444444;
  background: #f1f1f1;
  -webkit-background-image: linear-gradient(top, #f1f1f1 0%, #bbbab7 100%);
  -moz-background-image: linear-gradient(top, #f1f1f1 0%, #bbbab7 100%);
  -ms-background-image: linear-gradient(top, #f1f1f1 0%, #bbbab7 100%);
  -o-background-image: linear-gradient(top, #f1f1f1 0%, #bbbab7 100%);
  background-image: linear-gradient(top, #f1f1f1 0%, #bbbab7 100%);
  background-image: linear-gradient(to bottom, #f1f1f1 0%, #bbbab7 100%);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: .4em .6em;
}
/* line 199, ../sass/_mixins/_cellularmixins.scss */
.menu a:visited,
.inline.links a:visited {
  color: #444444;
}
/* line 205, ../sass/_mixins/_cellularmixins.scss */
.menu a.active, .menu a:active, .menu a:hover,
.inline.links a.active,
.inline.links a:active,
.inline.links a:hover {
  color: #29b4de;
  border-color: #29b4de;
  text-decoration: none;
  background: #fefefe;
  -webkit-background-image: linear-gradient(top, #fefefe 0%, #f1f1f1 100%);
  -moz-background-image: linear-gradient(top, #fefefe 0%, #f1f1f1 100%);
  -ms-background-image: linear-gradient(top, #fefefe 0%, #f1f1f1 100%);
  -o-background-image: linear-gradient(top, #fefefe 0%, #f1f1f1 100%);
  background-image: linear-gradient(top, #fefefe 0%, #f1f1f1 100%);
  background-image: linear-gradient(to bottom, #fefefe 0%, #f1f1f1 100%);
}

/* line 115, ../sass/drupal/_drupal-classes.scss */
.comment .links {
  text-align: left;
}
/* line 119, ../sass/drupal/_drupal-classes.scss */
.comment .links.inline li {
  list-style: none;
  display: inline;
}

/**
  * @file
  *  "Powered by Drupal" block.
*/
/* line 6, ../sass/drupal/_powered-by.scss */
#block-system-powered-by {
  float: right;
  margin: 0 1em;
  color: #fefefe;
}
/* line 11, ../sass/drupal/_powered-by.scss */
#block-system-powered-by a {
  text-indent: -999em;
  float: right;
  display: block;
  width: 84px;
  height: 32px;
  background: url(../assets/images/png/drupal.png) no-repeat;
}

/**
  * @file
  * Breadcrumb navigation styling.
*/
/* line 5, ../sass/drupal/_breadcrumb.scss */
#breadcrumb {
  width: 90%;
  height: 2em;
  margin: 0 0 2em 0;
  padding: .1em 5%;
  background: #444444;
}
/* line 13, ../sass/drupal/_breadcrumb.scss */
#breadcrumb li {
  display: inline;
  display: inline-block;
  list-style: none;
  line-height: 2em;
  margin: 0 0 0 .4em;
  padding: 0 0 0 1.4em;
  color: #edeceb;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left center;
  background-image: url(../assets/icons/min/png/arrow-right.png);
}
/* line 26, ../sass/drupal/_breadcrumb.scss */
#breadcrumb li a {
  color: #fefefe;
}
/* line 30, ../sass/drupal/_breadcrumb.scss */
#breadcrumb li.first {
  background-image: none;
}
/* line 33, ../sass/drupal/_breadcrumb.scss */
#breadcrumb li.first a {
  background-image: url(../assets/icons/min/png/home.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 2em;
  background-size: 1.4em;
}

/**
  * @file
  * Date related class styling
*/
/* line 7, ../sass/drupal/_date-classes.scss */
.post-date {
  float: left;
  display: block;
  margin: 1em 1em 1em 0;
  text-align: center;
  border: #444444 thin solid;
  background: white;
  color: #444444;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}
/* line 19, ../sass/drupal/_date-classes.scss */
.post-date .day,
.post-date .month,
.post-date .year {
  display: block;
}
/* line 23, ../sass/drupal/_date-classes.scss */
.post-date .day {
  float: left;
  padding: .2em 0 .2em .6em;
}
/* line 28, ../sass/drupal/_date-classes.scss */
.post-date .month {
  float: left;
  padding: .2em .6em .2em .4em;
}
/* line 33, ../sass/drupal/_date-classes.scss */
.post-date .year {
  clear: both;
  padding: .2em .8em;
  background-color: #444444;
  color: #f1f1f1;
  border-top: #f1f1f1 thin solid;
}

/**
  * @file
  * Drupal pager styling
*/
/* line 6, ../sass/drupal/_pager.scss */
.pager {
  clear: both;
  display: table;
  margin: .4em auto;
  padding: 0;
  font: bold .8em/1em Arial, sans-serif;
  text-align: center;
}
/* line 14, ../sass/drupal/_pager.scss */
.pager li {
  float: left;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  outline: 0;
  list-style: none;
}
/* line 25, ../sass/drupal/_pager.scss */
.pager a,
.pager a:link,
.pager a:visited {
  display: block;
  cursor: pointer;
  padding: 1em;
  color: #bbbab7;
  background: #f1f1f1;
  border: #f1f1f1 thin solid;
}
/* line 36, ../sass/drupal/_pager.scss */
.pager a:active,
.pager a:hover,
.pager a:focus {
  background: #fefefe;
  color: #29b4de;
  text-decoration: none;
}
/* line 42, ../sass/drupal/_pager.scss */
.pager .pager-item {
  margin: .2em;
}
/* line 46, ../sass/drupal/_pager.scss */
.pager .pager-current {
  margin: .2em;
  padding: 1em;
  font-weight: bold;
  outline: 0;
  background: #fefefe;
  color: #f1f1f1;
  border: thin solid;
}
/* line 59, ../sass/drupal/_pager.scss */
.pager .pager-first,
.pager .pager-previous,
.pager .pager-next,
.pager .pager-last {
  margin: .2em;
  border: none;
}
/* line 63, ../sass/drupal/_pager.scss */
.pager .pager-first a,
.pager .pager-previous a,
.pager .pager-next a,
.pager .pager-last a {
  width: 5em;
}

/**
  * @file
  * Styling DOM classes provided by drupal
*/
/* line 6, ../sass/drupal/_search.scss */
#search-form {
  display: block;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}

/* line 11, ../sass/drupal/_search.scss */
form.site-search {
  display: inline;
  display: inline-block;
  padding: .1em .8em;
  text-align: right;
  font-size: .8em;
  background-color: #f1f1f1;
  background-color: rgba(241, 241, 241, 0.6);
  border-bottom: #444444 0.2em solid;
  -webkit-border-radius: 1em 50%;
  -moz-border-radius: 1em / 50%;
  border-radius: 1em / 50%;
}
/* line 23, ../sass/drupal/_search.scss */
form.site-search input {
  display: inline;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 2em;
  width: auto;
  border: none;
}
/* line 32, ../sass/drupal/_search.scss */
form.site-search input[type="text"] {
  font-size: 1em;
  width: 12em;
  background: transparent;
  border-bottom: #444444 0.1em solid;
}
/* line 39, ../sass/drupal/_search.scss */
form.site-search input[type="submit"] {
  float: none;
  width: 2em;
  height: 2em;
  padding: 1em;
  text-indent: -999em;
  background-position: right center;
  background-size: 1.4em;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/min/png/search.png");
  background-image: url("../assets/icons/min/svg/search.svg");
  background-color: transparent;
  border: #bbbab7 1px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/* line 57, ../sass/drupal/_search.scss */
form.site-search input[type="submit"]:hover, form.site-search input[type="submit"]:active, form.site-search input[type="submit"]:focus {
  outline: none;
  color: #111111;
  border-color: #29b4de;
  background-size: 1.6em;
}

/**
  * Colorbox Core Style:
  * The following CSS is consistent between example themes and should not be altered.
*/
/* line 9, ../sass/drupal/_colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111111;
}

/* line 16, ../sass/drupal/_colorbox.scss */
#cboxWrapper {
  padding: 0;
  background: #fefefe;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}

/* line 22, ../sass/drupal/_colorbox.scss */
#cboxTitle {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
  margin: 0;
  padding: .4em .8em;
  color: #f1f1f1;
  background: rgba(17, 17, 17, 0.8);
}

/* line 36, ../sass/drupal/_colorbox.scss */
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
  background-image: url(../assets/icons/png/controls.png);
  background-repeat: no-repeat;
}
/* line 50, ../sass/drupal/_colorbox.scss */
#cboxPrevious:active,
#cboxNext:active,
#cboxClose:active,
#cboxSlideshow:active {
  outline: 0;
}

/* line 56, ../sass/drupal/_colorbox.scss */
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 64, ../sass/drupal/_colorbox.scss */
#cboxLoadingOverlay {
  background-color: rgba(254, 254, 254, 0.7);
}

/* line 68, ../sass/drupal/_colorbox.scss */
#cboxLoadingGraphic {
  background: url(../assets/images/gif/loading.gif) no-repeat center center;
}

/* Reset box sizing to content-box if theme is using border-box. */
/* line 75, ../sass/drupal/_colorbox.scss */
#colorbox,
#cboxContent,
#cboxLoadedContent {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 83, ../sass/drupal/_colorbox.scss */
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* line 90, ../sass/drupal/_colorbox.scss */
#colorbox {
  outline: 0;
}

/* line 94, ../sass/drupal/_colorbox.scss */
#cboxContent {
  position: relative;
}

/* line 98, ../sass/drupal/_colorbox.scss */
#cboxLoadedContent {
  margin-bottom: 2em;
  -webkit-overflow-scrolling: touch;
}

/* line 106, ../sass/drupal/_colorbox.scss */
#cboxTopLeft
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomRight {
  z-index: 9;
  width: 0.4em;
  height: 0.32em;
  z-index: 9;
}

/* line 114, ../sass/drupal/_colorbox.scss */
#cboxMiddleLeft,
#cboxMiddleRight {
  z-index: 9;
  width: 0.4em;
}

/* line 120, ../sass/drupal/_colorbox.scss */
#cboxTopCenter,
#cboxBottomCenter {
  z-index: 9;
  height: 0.32em;
}

/* line 128, ../sass/drupal/_colorbox.scss */
#cboxError {
  padding: 4em;
  border: 1px solid #f1f1f1;
}

/* line 137, ../sass/drupal/_colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 0;
  left: 3em;
  color: #bbbab7;
}

/* line 144, ../sass/drupal/_colorbox.scss */
#cboxPrevious {
  bottom: 0;
  left: 0;
  background-position: -160px -64px;
}
/* line 149, ../sass/drupal/_colorbox.scss */
#cboxPrevious:hover {
  background-position: -128px -64px;
}

/* line 155, ../sass/drupal/_colorbox.scss */
#cboxNext {
  bottom: 0;
  right: 0;
  background-position: 0 -64px;
}
/* line 160, ../sass/drupal/_colorbox.scss */
#cboxNext:hover {
  background-position: -32px -64px;
}

/* line 165, ../sass/drupal/_colorbox.scss */
#cboxClose {
  top: -2.2em;
  right: -2.2em;
  background-position: -64px 0;
}
/* line 170, ../sass/drupal/_colorbox.scss */
#cboxClose:hover {
  background-position: -64px -32px;
}

/* line 175, ../sass/drupal/_colorbox.scss */
.cboxSlideshow_on #cboxSlideshow {
  bottom: 0px;
  right: 4em;
  background-position: -64px -64px;
}
/* line 180, ../sass/drupal/_colorbox.scss */
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -96px -64px;
}

/* line 185, ../sass/drupal/_colorbox.scss */
.cboxSlideshow_off #cboxSlideshow {
  bottom: 0px;
  right: 3em;
  background-position: -32px 0;
}
/* line 190, ../sass/drupal/_colorbox.scss */
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -32px -32px;
}

/**
  * Avoid outlines on :active (mouseclick),
  * but preserve outlines on :focus (tabbed navigating)
*/
/* line 199, ../sass/drupal/_colorbox.scss */
.cboxPhoto {
  display: block;
  float: left;
  margin: auto;
  border: 0;
  max-width: none;
}

/* line 207, ../sass/drupal/_colorbox.scss */
.cboxIframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

/**
  * @file
  * Drupal panels styling
*/
