/**
 * @file
 * SVG icons
 */
/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
/**
  * @file
  * CSS loading indicators.
  * http://codepen.io/TaniaLD/pen/oKxep
* http://projects.lukehaas.me/css-loaders/
*/
/*--------------------------------------------*/
/*--------------------------------------------*/
@keyframes alpha {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}
@keyframes bounce {
  0%,  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1em);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*---------------------------------------------------------*/
@keyframes bar {
  0% {
    width: 0px;
  }
  70% {
    width: 100%;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}
/*---------------------------------------------------------*/
@keyframes convergeA {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  50% {
    left: -150%;
    opacity: 0.8;
  }
}
@keyframes convergeB {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  50% {
    left: 150%;
    opacity: 0.8;
  }
}
/*---------------------------------------------------------*/
@keyframes orbit {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  25% {
    left: -150%;
    opacity: 0.8;
  }
  50% {
    left: 0;
    opacity: 0.3;
  }
  75% {
    left: 150%;
    opacity: 0.8;
  }
}
/*---------------------------------------------------------*/
@keyframes scaled {
  0%,100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* line 9, ../sass/icons-svg.scss */
.icon.search {
  background-image: url("../assets/icons/min/svg/search.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.arrow-up {
  background-image: url("../assets/icons/min/svg/arrow-up.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.arrow-right {
  background-image: url("../assets/icons/min/svg/arrow-right.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.arrow-down {
  background-image: url("../assets/icons/min/svg/arrow-down.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.arrow-left {
  background-image: url("../assets/icons/min/svg/arrow-left.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.mail {
  background-image: url("../assets/icons/min/svg/mail.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.mail2 {
  background-image: url("../assets/icons/min/svg/mail2.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.menu {
  background-image: url("../assets/icons/min/svg/menu.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.message-error {
  background-image: url("../assets/icons/min/svg/message-error.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.message-ok {
  background-image: url("../assets/icons/min/svg/message-ok.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.message-warning {
  background-image: url("../assets/icons/min/svg/message-warning.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.audio {
  background-image: url("../assets/icons/min/svg/audio.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.camera {
  background-image: url("../assets/icons/min/svg/camera.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.cart {
  background-image: url("../assets/icons/min/svg/cart.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.chat {
  background-image: url("../assets/icons/min/svg/chat.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.cloud {
  background-image: url("../assets/icons/min/svg/cloud.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.doc {
  background-image: url("../assets/icons/min/svg/doc.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.email {
  background-image: url("../assets/icons/min/svg/email.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.eye {
  background-image: url("../assets/icons/min/svg/eye.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.film {
  background-image: url("../assets/icons/min/svg/film.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.folder {
  background-image: url("../assets/icons/min/svg/folder.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.gear {
  background-image: url("../assets/icons/min/svg/gear.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.home {
  background-image: url("../assets/icons/min/svg/home.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.key {
  background-image: url("../assets/icons/min/svg/key.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.lock {
  background-image: url("../assets/icons/min/svg/lock.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.minus {
  background-image: url("../assets/icons/min/svg/minus.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.pdf {
  background-image: url("../assets/icons/min/svg/pdf.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.phone {
  background-image: url("../assets/icons/min/svg/phone.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.phone2 {
  background-image: url("../assets/icons/min/svg/phone2.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.picture {
  background-image: url("../assets/icons/min/svg/picture.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.plus {
  background-image: url("../assets/icons/min/svg/plus.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.print {
  background-image: url("../assets/icons/min/svg/print.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.search {
  background-image: url("../assets/icons/min/svg/search.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.spreadsheet {
  background-image: url("../assets/icons/min/svg/spreadsheet.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.user {
  background-image: url("../assets/icons/min/svg/user.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.user-social {
  background-image: url("../assets/icons/min/svg/user-social.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.video {
  background-image: url("../assets/icons/min/svg/video.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.wrench {
  background-image: url("../assets/icons/min/svg/wrench.svg");
}

/* line 9, ../sass/icons-svg.scss */
.icon.zip {
  background-image: url("../assets/icons/min/svg/zip.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.android {
  background-image: url("../assets/icons/min/svg/android.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.angular {
  background-image: url("../assets/icons/min/svg/angular.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.apple {
  background-image: url("../assets/icons/min/svg/apple.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.creativecommons {
  background-image: url("../assets/icons/min/svg/creativecommons.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.chrome {
  background-image: url("../assets/icons/min/svg/chrome.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.css3 {
  background-image: url("../assets/icons/min/svg/css3.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.desktop {
  background-image: url("../assets/icons/min/svg/desktop.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.drupal {
  background-image: url("../assets/icons/min/svg/drupal.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.firefox {
  background-image: url("../assets/icons/min/svg/firefox.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.globe {
  background-image: url("../assets/icons/min/svg/globe.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.html5 {
  background-image: url("../assets/icons/min/svg/html5.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.internetexplorer {
  background-image: url("../assets/icons/min/svg/internetexplorer.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.jquery {
  background-image: url("../assets/icons/min/svg/jquery.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.js {
  background-image: url("../assets/icons/min/svg/js.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.laptop {
  background-image: url("../assets/icons/min/svg/laptop.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.linux {
  background-image: url("../assets/icons/min/svg/linux.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.mac {
  background-image: url("../assets/icons/min/svg/mac.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.mobile {
  background-image: url("../assets/icons/min/svg/mobile.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.opera {
  background-image: url("../assets/icons/min/svg/opera.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.safari {
  background-image: url("../assets/icons/min/svg/safari.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.w3 {
  background-image: url("../assets/icons/min/svg/w3.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.windows {
  background-image: url("../assets/icons/min/svg/windows.svg");
}

/* line 15, ../sass/icons-svg.scss */
.icon.wordpress {
  background-image: url("../assets/icons/min/svg/wordpress.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.behance {
  background-image: url("../assets/icons/min/svg/behance.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.blogger {
  background-image: url("../assets/icons/min/svg/blogger.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.delicious {
  background-image: url("../assets/icons/min/svg/delicious.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.deviantart {
  background-image: url("../assets/icons/min/svg/deviantart.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.digg {
  background-image: url("../assets/icons/min/svg/digg.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.facebook {
  background-image: url("../assets/icons/min/svg/facebook.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.flickr {
  background-image: url("../assets/icons/min/svg/flickr.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.github-octo {
  background-image: url("../assets/icons/min/svg/github-octo.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.google {
  background-image: url("../assets/icons/min/svg/google.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.grooveshark {
  background-image: url("../assets/icons/min/svg/grooveshark.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.hi5 {
  background-image: url("../assets/icons/min/svg/hi5.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.linkedin {
  background-image: url("../assets/icons/min/svg/linkedin.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.myspace {
  background-image: url("../assets/icons/min/svg/myspace.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.pinterest {
  background-image: url("../assets/icons/min/svg/pinterest.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.reddit {
  background-image: url("../assets/icons/min/svg/reddit.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.rss {
  background-image: url("../assets/icons/min/svg/rss.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.skype {
  background-image: url("../assets/icons/min/svg/skype.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.slashdot {
  background-image: url("../assets/icons/min/svg/slashdot.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.soundcloud {
  background-image: url("../assets/icons/min/svg/soundcloud.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.stackoverflow {
  background-image: url("../assets/icons/min/svg/stackoverflow.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.stumbleupon {
  background-image: url("../assets/icons/min/svg/stumbleupon.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.technorati {
  background-image: url("../assets/icons/min/svg/technorati.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.tumblr {
  background-image: url("../assets/icons/min/svg/tumblr.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.twitter-bird {
  background-image: url("../assets/icons/min/svg/twitter-bird.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.twitter-t {
  background-image: url("../assets/icons/min/svg/twitter-t.svg");
}

/* line 21, ../sass/icons-svg.scss */
.icon.youtube {
  background-image: url("../assets/icons/min/svg/youtube.svg");
}
