/**
 * @file
 * Old Internet Explorer is breakin internetz.
 */
/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
/* line 8, ../sass/ie.scss */
body,
* {
  word-wrap: break-word;
  zoom: 1.0;
}

/* line 13, ../sass/ie.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 17, ../sass/ie.scss */
legend {
  color: #bbbab7;
}

/* line 24, ../sass/ie.scss */
input,
textarea,
select {
  *font-size: 100%;
}

/* line 32, ../sass/ie.scss */
input[type=checkbox], input[type=radio] {
  display: inline;
  margin: 0.3em;
  vertical-align: middle;
}
/* line 37, ../sass/ie.scss */
input[type=checkbox]:focus, input[type=radio]:focus {
  border: thin solid;
}

/* line 57, ../sass/ie.scss */
.cell,
.cell-90,
.cell-80,
.cell-75,
.cell-70,
.cell-66,
.cell-60,
.cell-50,
.cell-40,
.cell-33,
.cell-30,
.cell-25,
.cell-20,
.cell-10 {
  overflow: visible;
}

/* line 62, ../sass/ie.scss */
.center {
  display: block;
}

/* line 66, ../sass/ie.scss */
.jBlocklink {
  margin: 0;
  border: #bbbab7 1px solid;
}
/* line 70, ../sass/ie.scss */
.jBlocklink:hover {
  border-color: #29b4de;
}
