/**
 * @file
 * Old Internet Explorer is breakin internetz.
 */
/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
/**
  * @file
  * CSS loading indicators.
  * http://codepen.io/TaniaLD/pen/oKxep
* http://projects.lukehaas.me/css-loaders/
*/
/*--------------------------------------------*/
/*--------------------------------------------*/
@keyframes alpha {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}
@keyframes bounce {
  0%,  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1em);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*---------------------------------------------------------*/
@keyframes bar {
  0% {
    width: 0px;
  }
  70% {
    width: 100%;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}
/*---------------------------------------------------------*/
@keyframes convergeA {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  50% {
    left: -150%;
    opacity: 0.8;
  }
}
@keyframes convergeB {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  50% {
    left: 150%;
    opacity: 0.8;
  }
}
/*---------------------------------------------------------*/
@keyframes orbit {
  0%, 100% {
    left: 0;
    opacity: 0.3;
  }
  25% {
    left: -150%;
    opacity: 0.8;
  }
  50% {
    left: 0;
    opacity: 0.3;
  }
  75% {
    left: 150%;
    opacity: 0.8;
  }
}
/*---------------------------------------------------------*/
@keyframes scaled {
  0%,100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* line 7, ../sass/ie.scss */
body,
* {
  word-wrap: break-word;
  zoom: 1.0;
}

/* line 13, ../sass/ie.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 17, ../sass/ie.scss */
legend {
  color: #f1f1f1;
}

/* line 22, ../sass/ie.scss */
input,
textarea,
select {
  *font-size: 100%;
}

/* line 31, ../sass/ie.scss */
input[type=checkbox], input[type=radio] {
  display: inline;
  margin: 0.3em;
  vertical-align: middle;
}
/* line 37, ../sass/ie.scss */
input[type=checkbox]:focus, input[type=radio]:focus {
  border: thin solid;
}

/* line 44, ../sass/ie.scss */
.cell,
.cell-90,
.cell-80,
.cell-75,
.cell-70,
.cell-66,
.cell-60,
.cell-50,
.cell-40,
.cell-33,
.cell-30,
.cell-25,
.cell-20,
.cell-10 {
  overflow: visible;
}

/* line 62, ../sass/ie.scss */
.center {
  display: block;
}
