.calendar {
  width: 100%;
}
.date-nav-wrapper {
  padding: 0.6em 0;
  background: darken($c2, 5%);

  .date-nav {
    padding: 0.4em 0;
  }

  .pager {
    margin: 0.1em auto 0;
    padding: 0.4em 0.4em 0;
  }

  .date-prev,
  .date-next {
    position: relative;
    padding: 0 2em;

    a {
      @include button();
    }
  }
}

.month-view {
  table {
    width: 100%;
    padding: 0.2em;
    border-spacing: 0.1em;
    border: $color-neutral 1px solid;
    border-collapse: separate;
  }

  th {
    color: $color-neutral;
  }
  tr {
    background-color: transparent;
  }
  td {
    padding: 0.2em;
    background-color: $color-primary-bg;

    &.date-box {
      margin: 0;
      padding: 0;
    }
  }
}
.date-box {
  .month.day {
    @include round($size-nano, "top");

    padding: 0 0.5em;
    color: $color-primary-bg;
    background-color: $color-neutral;
  }

  a,
  a:visited {
    color: $color-primary-bg;
  }

  a {
    &:active,
    &:hover,
    &:focus,
    &:visited {
      color: lighten($color-hilight, 33%);
    }
  }
}

.single-day {
  td {
    @include round($size-nano, "bottom");

    width: 14%; /* ~ 100% / 7 days */
    vertical-align: top;
    border-right: $color-neutral 1px solid;
    border-bottom: $color-neutral 1px solid;
    border-left: $color-neutral 1px solid;

    /* min-width: 5em; */
    background-color: $color-primary-bg;

    &.today {
      @include box-shadow($color-hilight);

      border-color: $color-hilight;
    }

    &.past {
      background-color: darken($color-primary-bg, 10%);

      a {
        &,
        &:visited {
          color: $color-neutral;
        }
      }
    }
  }

  a {
    &,
    &:visited {
      display: block;
      padding: $size-nano;
      border: $color-neutral 1px solid;
      border-radius: $size-nano;
      background: darken($color-primary-bg, 5%);
    }

    &:active,
    &:hover,
    &:focus,
    &:visited {
      border-color: $color-hilight;
      background: $color-primary-bg;
    }
  }

  .date-display-single {
    color: $color-neutral;
  }
}
