#comments {
  /* Wraps entire Comments area. */
  h2 {
    margin: 0.4em 0;
    padding: 1em;
    color: $color-primary-bg;
    background: $color-hilight;

    &:after {
      position: absolute;
      bottom: -0.4em;
      left: 0;
      width: 0;
      height: 0;
      content: " ";
      border-top: 0.6em solid $color-hilight;
      border-right: 0.6em solid transparent;
      border-left: 0.6em solid transparent;
    }
  }
}

/* Page anchors. */
a[id^="comment-"] {
  position: absolute;
  left: -999em;
  visibility: hidden;
}

/* Comment reply threads. */
.indented {
  margin-bottom: 0.1em;
  padding: 0 0 0 1em;

  .comment {
    background-color: darken($color-primary-bg, 10%);
  }
}

/* Wraps individual comments. */
.comment {
  @include box-shadow();

  width: 90%;
  margin: 0.1em auto 0.4em;
  text-align: left;
  border: 1px $color-neutral solid;
  background-color: darken($color-primary-bg, 3%);

  &.new {
    border-color: $color-error;
  }

  .post-info {
    background-color: darken($color-secondary, 10%);
  }
  .links.inline {
    display: block;
    margin: 0.4em -1em -1em;
    background-color: darken($color-secondary, 20%);
    font-size: 0.8em;
  }
}

.comment-date,
.comment-author {
  display: block;
  font-size: $small;

  /* text-align: center; */
}

.comment-title {
  margin: 0;
  color: $color-secondary;
  background-color: $color-secondary;
  font-size: $big;

  &:after {
    content: "... ";
  }
}

.comment-content {
  padding: 1em;
}
