.page-header-wrapper {
  position: relative;

  &.has-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    div,
    a,
    .nav-link {
      color: $white;
    }

    .nav-link {
      &.is-active,
      &.active {
        color: initial;
      }
    }

    &.container {
      padding: 0;
    }

    .page-header {
      height: rem(450px);
    }
  }
}

.dialog-off-canvas-main-canvas {
  min-height: 100%;
}
