/**
  * @file
  * Critical typographic classes
*/

p {
  display: block;
  max-width: $p-max-width;
  margin: 0 auto;
  padding: 0 $default-size ($p-line-height * 0.5);
  color: $p-color;
}

h1,
h2,
h3 {
  display: block;
  clear: both;
  margin: 1em auto 0.2em auto;
  padding: 0.4em 0.4em 0 1em;
  font-family: $h-font;
  font-weight: $h-weight;
  line-height: 1.1em;
}

h1 {
  margin: 0;
  padding: 1.4em 1em 0.8em;
  text-align: center;
  color: $h-color;
  border: none;
  font-size: $h-size;
}

h2 {
  color: $h-color;
  font-size: $h-size * 0.8;
}

h3 {
  color: $h-color;
  font-size: $h-size * 0.7;
}
.xxl {

}
.xl {

}
.big {
  font-size: $big;
}
.small {
  font-size: $small;
}
.tiny {
  font-size: $tiny;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
