.page-footer {
  border-top: 1px solid #eee;

  ul {
    padding: 0 !important;

    li {
      list-style: none;
      padding-bottom: rem(5px);

      a {
        font-size: rem(14px);
        color: #514747;

        &:hover {
          color: $black;
        }
      }
    }
  }

  .footer-middle {
    .menu {
      li {
        @include media-breakpoint-up(md) {
          padding-right: rem(16px);
          padding-left: rem(10px);
          border-right: rem(1px) solid rgba(222, 226, 230, 0.6);

          &:last-child {
            border-right: none;
          }
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: rem(10px 0);
    background-color: $white;

    .d-flex {
      align-items: center;
      justify-content: flex-start;
    }

    p {
      margin-bottom: rem(0px);
    }

    small {
      color: $gray-500;
    }

    .fa-heart {
      color: $pink;
    }
  }

  .copyright,
  .social-icons {
    @include media-breakpoint-down(sm) {
      margin: 0 auto;
      text-align: center;
    }
  }

  .copyright {
    @include media-breakpoint-down(sm) {
      padding-bottom: 10px;
    }
  }
}
