.top-header {

  @include media-breakpoint-up(lg) {
    &.header-menu {
      width: 100%;
      background: none;

      &.standard {
        position: relative;
      }

      &.overlay {
        position: absolute;
        z-index: $zindex-fixed;
      }

      &.header- {
        &fixed {
          position: fixed;
          background: $white;
          box-shadow: rem(0 0 15px) rgba(0,0,0,.08), 0 0 4px rgba(0,0,0,.05);
          z-index: $zindex-fixed;
        }

        &resize {
          #block-cellular-branding {
            img {
              height: rem(35px);
            }
          }

          .nav-item {
            .nav-link {
              padding: rem(15px 10px);
            }
          }
        }
      }
    }
  }

  #block-cellular-branding {
    img {
      width: auto;
      height: rem(40px);
      transition: none;

      &:hover {
        transform: none;
      }
    }
  }

  #navigation-group {
    .m-nav {
      margin: auto;
    }
  }
}
// Left Navigation

@include media-breakpoint-up(lg) {

  .main-content-wrapper {
    display: flex;

    .header-left {
      height: 100%;

      &.header-menu {
        width: 20%;
        align-items: flex-start;
        position: fixed;
        padding: rem(48px) rem(18px);
        overflow-y: auto;

        &.overlay {
          position: fixed;
        }
      }
    }

    .content-right {
      width: 80%;
      margin-left: 20%;
    }

    .navbar-expand-lg {

      >.container {
        flex-wrap: wrap;
      }

      .navbar-nav {
        flex-wrap: wrap;
      }

      .navbar-collapse {
        flex-direction: column;
      }
    }

    #navigation-group {
      .m-nav {
        width: 100%;
      }
    }

    nav {
      .nav-item {
        width: 100%;
      }
    }

    .navbar-right {
      width: 100%;
    }

    .region-header-left {
      width: 100%;
    }
  }
}
