/**
  * @file
  * Drupal pager styling
*/

.pager {
  clear: both;
  display: table;
  margin: .4em auto;
  padding: 0;
  font: bold .8em/1em Arial, sans-serif;
  text-align: center;

  li {
    float: left;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    outline: 0;
    list-style: none;
  }

  a,
  a:link,
  a:visited {
    display: block;
    cursor: pointer;
    padding: $normal;
    color: $dark_grey;
    background: darken($white, 5%);
    border: $light_grey $border;
  }

  a:active,
  a:hover,
  a:focus {
    background: $white;
    color: $hilight;
    text-decoration: none;
  }

  .pager-item {
    margin: .2em;
  }

  .pager-current {
    margin: .2em;
    padding: $normal;
    font-weight: bold;
    outline: 0;
    color: $light_grey;
    background: $dark_grey;
    border: $border;
  }

  .pager-first,
  .pager-previous,
  .pager-next,
  .pager-last {
    margin: .2em;
    border: none;

    a {
      width: 5em;
    }
  }
}
