/**
  * @file
  * Logo link style
*/

#logo {
  // Container for logo
  float: left;
  left: 5%;
  z-index: 9;

  h2 {
    // Site title, is hidden w/text indent to remain sccessible
    position: absolute;
    width: $logo_width;
    height: $logo_height;
    margin: 0;
    padding: 0;
    line-height: 0;
    text-indent: -999em;
    background: none;
    border: none;
    text-decoration: none;
  }

  a {
    display: block;
    text-indent: -999em;
    // Match logo dimensions to create logo button.
    width: $logo_width;
    height: $logo_height;
    padding: $logo_pad;
    background-image: $logo_png;
    // Offset bg position by padding to center image.
    background-position: $logo_pad $logo_pad;
    background-repeat: no-repeat;
    border: none;
    text-decoration: none;
    @include box-shadow(inset 0 0 .4em .4em $white);

    &:hover {
      @include box-shadow(inset 0 0 .1em .1em $light_grey);
    }
  }
}
