/**
  * @file
  * Breadcrumb navigation styling.
*/
#breadcrumb {
  width: 90%;
  height: 2em;
  margin: 0 0 2em 0;
  padding: .1em 5%;
  background: $light_grey;


  li {
    display: inline;
    display: inline-block;
    list-style: none;
    line-height: 2em;
    margin: 0 0 0 .4em;

    a { }
    &.first a {
      background-image: url(../assets/icons/min/png/home.png);
      background-repeat: no-repeat;
      color: $white;
      padding: 0 0 0 3em;
    }
  }
}
