/**
  * @file
  * Content region styles
*/

// Set styles common to all regions from variables/content_regions
#{$regions} {
  margin: $region_margin;
  padding: $region_padding;
  border: $region_border;
}

//////

#page-wrap {
  @include clearfix();
}

#app {
  z-index: 1;
  @if (($header_position == absolute) or ($header_position == fixed)) {
    margin-top: $header_height;
  }
}

#content,
#sidebar-left,
#sidebar-right,
#footer {
  position: relative;
  float: left;
  display: block;
  @include clearfix();
}
