/**
  * @file
  * Primary #nav styling
*/

// Display multi-level links using css dropdowns?
$showDropdowns: true;

// Primary Navigation
#nav {
  position: absolute;
  top: 2em;
  right: 5%;
  margin: 0 0 0 $logo_width * 2;
  padding: 0;

  a,
  a:visited {
    // Common link styling
    display: block;
    padding: .4em .8em;
    font-family: $h_font;
    font-size: $normal;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: none;
    color: $grey;
    background: transparent;
    border: none;
    border-bottom: $grey 1px solid;
    @include border-radius(0);

    &:hover,
    &:focus,
    &:active,
    &.active {
      text-decoration: none;
      background: $hilight;
      color: $white;
    }
  }

  > li {

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  li {
    float: left;
    display: block;
    width: auto;
    max-width: none;
    list-style: none;
    margin: 0 .5em;
    padding: 0;

    // Nested menus.
    ul {
      position: absolute;
      right: 0;
      visibility: hidden;
      opacity: 0;
      background: $white;
      background: rgba($white, 0.9);
      @include transition();
    }

    @if ($showDropdowns) == true {
      // First nested menu
      &:hover > ul {
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }

      li {
        padding: .1em 0 0 0;
        z-index: 2;
        width: 100%;
        float: none;
        margin: 0;

        ul {
          // only show 1st 2 levels
          visibility: hidden;
          display: none;
        }
      }
      /*
        // Tertiary nested menu
        &:hover > ul {
        top: 0;
        right: -100%;
        visibility: visible;
        opacity: 1;
        z-index: 1;
        }
      */
    }
  }
}
