/**
  * @file
  * Content region styles
*/

#sidebar-left,
#sidebar-right {
  background: $light_grey;

  h3 {
    margin: 0;
    padding: .4em;
    font-size: 1.2em;
    color: $dark_grey;
    background-color: $grey;
  }
}

#sidebar-left {
}

#sidebar-right {
}
