/**
  * @file
  * Content region styles
*/

#header,
#header-top,
#header-bottom {
  width: 100%;
}

#header {
  position: $header_position;
  top: 0;
  left: 0;
  height: $header_height;
  background: $white;
  z-index: 2;
  @include box-shadow(0 0 1em .1em $dark_grey);
}

#header-top {
  z-index: 4;
  background: $black;
  color: $white;
  border-bottom: $black $border;
  // Position contents left or right
  text-align: right;

  // Custom type for region
  div {
    display: inline;
  }

  h2,
  h3,
  h4 {
    color: $white;
    font-size: 1em;
    display: inline;
  }
}

#header-bottom {
  background-color: $dark_grey;
  color: $white;
}
