#social-media-follow,
#social-media-share {
  float: left;
  overflow: hidden;
  margin: 1.4em .8em .8em;
  padding: 0 .4em;
  background-color: $light_grey;
  @include border-radius();

  form {
    margin: 0;
    padding: 0;
    display: inline;
  }

  h2,
  h3,
  h4 {
    font-size: $normal;
    margin: 0;
    padding: .4em;
    border-bottom: $dark_grey .2em solid;
    background: $white;
  }
}
