/**
  * @file
  * Cellular Grid
*/

//////
// Grid Cells
/////
.flexbox {
  .cell,
  #{$cells} {
    z-index: 1;
    position: relative;
    float: left;
    display: block;
    margin: $cell_margin;
    padding: $cell_padding;
    @include transition();

    &.center {
      float: none;
      margin: $cell_margin auto;
    }
  }

  .cell {
    width: 100%;
    @if($cell_margin > 0) {margin: 0;}
    @if($cell_padding > 0) {padding: 0;}
  }

  @each $cell in $grid {
    .cell-#{$cell} {
      width: unquote('#{$cell}%');
    }
  }

  @media screen and (max-width: $res_mobile) and (min-width: 0) {
    // Set all cells to single-column
    #{$cells} {
      width: 100% - $cell_space;
      flex-basis: 100% - $cell_space;
    }
  }
}
