/*****
    Cellular :: user interface
*****/
//////

.cellular {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    //max-width: 50em;
    .title {
        cursor: pointer;
        margin: 0;
        padding: $small $normal;
        background: $c1;
        color: $c2;
        &:hover {
            background: $hilight;
        }
    }
    .content {
        display: block;
        border: $light_grey .1em solid;
        margin: 0;
        padding: $normal;
    }
    .panel {
        display: block;
        margin: 0;
        padding: $normal;
        background: $c2;
        border: $light_grey .1em solid;
        border-top: $grey .1em solid;
    }
    .active {
        .title {
            background: $hilight;
        }
    }
    &.next,
    &.back {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        width: 3em;
        color: $c2;
        @include overlay($black);
    }
    &.next {
        right: 0
    }
    &.back {
        left: 0
    }

    &.jBlocklink {
        display: block;
        background: $c2;
        color: $c2;
        @include box-shadow(0 0 $tiny $tiny $shadow);
        @include transition();
        h3 {
            margin: 0;
            padding: 0;
            border: none;
            line-height: 1.4em;
            text-align: center;
            font-weight: bold;
            a {
                display: block;
                padding: .2em 0 .3em 0;
                background: $c1;
                color: $c2;
                &.active a,
                &:active,
                    &:hover,
                    &:focus {
                    background: $yellow;
                }
                &:visited {
                    color: $c2;
                }
            }
        }
        &:hover,
            &.active {
            color: $dark_grey;
            @include box-shadow(inset 0 0 0.1em $shadow);
        }
        &:hover {
            @include box-shadow(0 0 .25em .25em $hilight);
            h3 a {
                background: $hilight;
            }
        }
        &.active a,
        a:active,
            a:hover,
            a:focus {
            text-decoration: none;
        }
        img {
            background: transparent;
            //@include transition();
        }
        p {
            color: $dark_grey;
        }
    }

    &.jTabs {
        display: block;
        clear: both;
        margin: 0;
        padding: $normal 0 0 0;
       // background-color: $light_grey;
        li,
        .tab,
        .title {
            display: inline;
            list-style: none;
            .content {
            }
            a,
            a:visited {
                font-weight: bold;
                line-height: $big;
                padding: $small $normal .2em;
                background: $grey;
                color: $c2;
                border: $light_grey $border;
                border-bottom: none;
                @include round_top($tiny);
                &:hover {
                    background: $hilight;
                }
                &:active,
                    &.active {
                    background: $c2;
                    color: $dark_grey;
                }
            }
        }
    }
}

.jcarousel-clip {
    display: block;
    margin: $small 3em;
    overflow: hidden;
}
.jcarousel {
    position: relative;
    height: 240px;
}

.jcarousel-item-placeholder {
    background: #fff $loading no-repeat center center;
    color: #000;
}
.jcarousel-item {
    width: 33%
}

.jcarousel-navigation {
    text-align: center;

    li {
        display: inline;
        list-style: none;
        border: $light_grey 1px solid;

        a {
            padding: .4em 1em;
        }
    }
}
.jcarousel-next,
.jcarousel-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
    background-color: rgba($light_grey, 0.4);
    background-image: url('../assets/images/svg/carousel-arrows.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;

    &:hover,
        :focus {
        background-color: rgba($grey, 0.5);
    }
}
.jcarousel-next {
    right: 0;
    background-position: right center;
}
.jcarousel-prev {
    left: 0;
    background-position: left center;
}