/**
 * @file
 * Provide svg background images for compliant browsers
 */

.svg {
  #logo > a {
    background-image: url($logo_svg);
  }

  #nav {
    &.jMmenu.mini {
      background-image: url('../assets/icons/min/svg/menu.svg');
    }
  }

  .ok {
    list-style-image: url('../assets/icons/min/svg/message-ok.svg');
  }
  .warning {
    list-style-image: url('../assets/icons/min/svg/message-warning.svg');
  }
  .error {
    list-style-image: url('../assets/icons/min/svg/message-error.svg');
  }

}

@media screen and (max-width: $res_mobile) {

}
