/**
 * @file
 * Collect Drupal specific  styles
 */
/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
/**
  * @file
  * Drupal pager styling
*/
/* line 6, ../sass/drupal/_drupal-pager.scss */
.pager {
  clear: both;
  display: table;
  margin: .4em auto;
  padding: 0;
  font: bold .8em/1em Arial, sans-serif;
  text-align: center;
}
/* line 14, ../sass/drupal/_drupal-pager.scss */
.pager li {
  float: left;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  outline: 0;
  list-style: none;
}
/* line 25, ../sass/drupal/_drupal-pager.scss */
.pager a,
.pager a:link,
.pager a:visited {
  display: block;
  cursor: pointer;
  padding: 1em;
  color: #8a8882;
  background: #f1f1f1;
  border: #bbbab7 thin solid;
}
/* line 36, ../sass/drupal/_drupal-pager.scss */
.pager a:active,
.pager a:hover,
.pager a:focus {
  background: #fefefe;
  color: #29b4de;
  text-decoration: none;
}
/* line 42, ../sass/drupal/_drupal-pager.scss */
.pager .pager-item {
  margin: .2em;
}
/* line 46, ../sass/drupal/_drupal-pager.scss */
.pager .pager-current {
  margin: .2em;
  padding: 1em;
  font-weight: bold;
  outline: 0;
  background: #fefefe;
  color: #bbbab7;
  border: thin solid;
}
/* line 59, ../sass/drupal/_drupal-pager.scss */
.pager .pager-first,
.pager .pager-previous,
.pager .pager-next,
.pager .pager-last {
  margin: .2em;
  border: none;
}
/* line 63, ../sass/drupal/_drupal-pager.scss */
.pager .pager-first a,
.pager .pager-previous a,
.pager .pager-next a,
.pager .pager-last a {
  width: 5em;
}

/**
  * @file
  * Styling DOM id's provided by drupal
*/
/* line 7, ../sass/drupal/_drupal-ids.scss */
#block-system-powered-by {
  float: right;
  margin: 0 1em;
  color: #fefefe;
}
/* line 12, ../sass/drupal/_drupal-ids.scss */
#block-system-powered-by a {
  text-indent: -999em;
  float: right;
  display: block;
  width: 84px;
  height: 32px;
  background: url(../assets/images/png/drupal.png) no-repeat;
}

/* line 27, ../sass/drupal/_drupal-ids.scss */
#user-login-form input {
  width: 9em;
}

/* line 40, ../sass/drupal/_drupal-ids.scss */
#search-form,
#site-search {
  display: inline;
  text-align: right;
}
/* line 44, ../sass/drupal/_drupal-ids.scss */
#search-form input,
#site-search input {
  display: inline;
  display: inline-block;
  margin: 0;
  padding: 0.3em;
  width: auto;
}
/* line 51, ../sass/drupal/_drupal-ids.scss */
#search-form input[type=submit],
#site-search input[type=submit] {
  cursor: pointer;
  display: inline;
  display: inline-block;
  font-family: "Quicksand";
  font-weight: bold;
  line-height: auto;
  padding: 0.75em 1em;
  background-color: #29b4de;
  width: auto;
  color: #fefefe;
  border: #16708b 0.2em solid;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  float: none;
  width: 7em;
  padding: 0 0 0 .4em;
  font-size: 0.75em;
  text-align: left;
  background-position: right center;
  background-size: 2em;
  border: #565450 1px solid;
}
/* line 198, ../sass/mixins/_cellularmixins.scss */
#search-form input[type=submit]:visited,
#site-search input[type=submit]:visited {
  color: #fefefe;
}
/* line 204, ../sass/mixins/_cellularmixins.scss */
#search-form input[type=submit].active, #search-form input[type=submit]:active, #search-form input[type=submit]:hover,
#site-search input[type=submit].active,
#site-search input[type=submit]:active,
#site-search input[type=submit]:hover {
  background-color: #16708b;
  border-color: #29b4de;
  text-decoration: none;
}

/* line 67, ../sass/drupal/_drupal-ids.scss */
#block-system-navigation .block-title {
  display: none;
}
/* line 73, ../sass/drupal/_drupal-ids.scss */
#block-system-navigation .menu a {
  cursor: pointer;
  display: inline;
  display: inline-block;
  font-family: "Quicksand";
  font-weight: bold;
  line-height: auto;
  padding: 0.75em 1em;
  background-color: #29b4de;
  width: auto;
  color: #fefefe;
  border: #16708b 0.2em solid;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 0 1em;
}
/* line 198, ../sass/mixins/_cellularmixins.scss */
#block-system-navigation .menu a:visited {
  color: #fefefe;
}
/* line 204, ../sass/mixins/_cellularmixins.scss */
#block-system-navigation .menu a.active, #block-system-navigation .menu a:active, #block-system-navigation .menu a:hover {
  background-color: #16708b;
  border-color: #29b4de;
  text-decoration: none;
}
/* line 78, ../sass/drupal/_drupal-ids.scss */
#block-system-navigation .menu li {
  display: inline-block;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
  * @file
  * Styling DOM classes provided by drupal
*/
/* line 7, ../sass/drupal/_drupal-classes.scss */
.element-invisible {
  position: absolute !important;
  left: -999em;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* line 17, ../sass/drupal/_drupal-classes.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/* line 26, ../sass/drupal/_drupal-classes.scss */
[class*='ui-'],
[class^='ui-'] {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 32, ../sass/drupal/_drupal-classes.scss */
.comment .links {
  text-align: left;
}
/* line 36, ../sass/drupal/_drupal-classes.scss */
.comment .links.inline li {
  list-style: none;
  display: inline;
}

/* line 47, ../sass/drupal/_drupal-classes.scss */
.ctools-locked {
  color: #8c0d00;
  border: 1px solid #8c0d00;
  padding: 1em;
}

/* line 53, ../sass/drupal/_drupal-classes.scss */
.ctools-owns-lock {
  background: white;
  border: 1px solid #eecc22;
  padding: 1em;
}

/* line 60, ../sass/drupal/_drupal-classes.scss */
.ctools-ajaxing {
  background: url("../assets/images/gif/throbber.gif") center center no-repeat;
}

/* line 69, ../sass/drupal/_drupal-classes.scss */
a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px;
}

/* line 74, ../sass/drupal/_drupal-classes.scss */
div.ctools-ajaxing {
  float: left;
  width: 18px;
}

/* line 79, ../sass/drupal/_drupal-classes.scss */
.tabs.primary {
  margin: 2em 0 1em;
  background-color: #edeceb;
  border-bottom: #8a8882 1px solid;
}
/* line 84, ../sass/drupal/_drupal-classes.scss */
.tabs.primary li {
  list-style: none;
  display: inline;
  margin: 0 .1em;
}
/* line 90, ../sass/drupal/_drupal-classes.scss */
.tabs.primary a {
  padding: .4em .8em 0.2em;
  color: #565450;
  border: #8a8882 1px solid;
  border-bottom: none;
  background-color: #bbbab7;
  -webkit-border-top-left-radius: 0.3em;
  -moz-border-top-left-radius: 0.3em;
  -ms-border-top-left-radius: 0.3em;
  -o-border-top-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  -webkit-border-top-right-radius: 0.3em;
  -moz-border-top-right-radius: 0.3em;
  -ms-border-top-right-radius: 0.3em;
  -o-border-top-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
/* line 98, ../sass/drupal/_drupal-classes.scss */
.tabs.primary a.active {
  background-color: #fefefe;
}
/* line 102, ../sass/drupal/_drupal-classes.scss */
.tabs.primary a:hover {
  background-color: #edeceb;
}

/**
  * @file
  * Breadcrumb navigation styling.
*/
/* line 5, ../sass/drupal/_drupal-breadcrumb.scss */
#breadcrumb {
  width: 90%;
  height: 2em;
  margin: 0 0 2em 0;
  padding: .1em 5%;
  background: #bbbab7;
}
/* line 13, ../sass/drupal/_drupal-breadcrumb.scss */
#breadcrumb li {
  display: inline;
  display: inline-block;
  list-style: none;
  line-height: 2em;
  margin: 0 0 0 .4em;
  padding: 0 0 0 1.4em;
  color: #565450;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left center;
  background-image: url(../assets/icons/min/png/arrow-right.png);
}
/* line 26, ../sass/drupal/_drupal-breadcrumb.scss */
#breadcrumb li a {
  color: #fefefe;
}
/* line 30, ../sass/drupal/_drupal-breadcrumb.scss */
#breadcrumb li.first {
  background-image: none;
}
/* line 33, ../sass/drupal/_drupal-breadcrumb.scss */
#breadcrumb li.first a {
  background-image: url(../assets/icons/min/png/home.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 2em;
  background-size: 1.4em;
}
