/**
 * @file
 * Styling for printed pages
 */
/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
@media print {
  /* line 9, ../sass/print.scss */
  img,
  p {
    page-break-inside: avoid;
  }

  /* line 14, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 21, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 26, ../sass/print.scss */
  a,
  a:visited {
    color: #00598E;
    text-decoration: underline;
  }
  /* line 31, ../sass/print.scss */
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }

  /* line 35, ../sass/print.scss */
  code a:after {
    content: none;
  }

  /* line 39, ../sass/print.scss */
  pre,
  code,
  blockquote {
    border: 1px solid #444444;
    page-break-inside: avoid;
  }

  /* line 46, ../sass/print.scss */
  #app,
  #content-wrap,
  #content-main {
    width: 100%;
  }

  /* line 52, ../sass/print.scss */
  #header,
  #footer,
  .hidden {
    visibility: hidden;
    display: none;
  }
}
