/**
  * @file
  * Content region styles
*/

#footer {
  z-index: 1;
  margin: 5em 0 0 0;
  color: $color-primary-bg;
  background: $color-secondary;

  p {
    color: $color-primary-bg;
  }
}

#footer-top {
  color: $color-secondary;
  background: $color-secondary;
  font-size: $size-small;
  // Custom type for region
}

#footer-bottom {
  color: $color-secondary;
  border-top: $default-border;
  background: $color-secondary;
  font-size: $size-small;
}

#copyright {
  display: block;
  padding: $size-small $size-big $size-small;
  text-align: right;
}
