/**
  * @file
  * Content region styles
*/

#footer {
  z-index: 1;
  margin: 5em 0 0 0;
  color: $color-primary-bg;
  background: $color-secondary-bg;
}

#footer-top,
#footer-bottom {
  color: $color-secondary;
  border-bottom: $default-border;
  background: $color-secondary-bg;
  font-size: $size-small;

  /* Custom type for region */
}

.copyright {
  display: block;
  padding: $size-small $size-big $size-small;
  text-align: right;
}
