/**
  * @file
  * Content region styles
*/

#header {
  @include region($type: "secondary");
  position: $region-header-position;
  top: 0;
  left: 0;
  height: $header-height;
}

#header-top,
#header-bottom {
  @include region($type: "tertiary");
  text-align: right;
  border-bottom: $default-border;
}

#header-top {
}

#header-bottom {
}
