// Sizing vars
$tiny: 0.3em;
$small: 0.75em;
$normal: 1em;
$big: 1.4em;

// Typography
$p_font: 'SegoeUI, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif';
$p_size: $normal;
$p_line_height: $big;
$p_max_width: 32em;
$p_color: $c1;

$h_font: "Quicksand";
$h_size: 2.4em;
$h_weight: bold;
$h_color: $grey;
