@mixin caret-submenu {
  &:after {
    position: absolute;
    right: 0;
    margin-top: $caret-width;
    @include media-breakpoint-down(md) {
      right: $nav-link-padding-x;
    }

    @include media-breakpoint-up(lg) {
      margin-right: $caret-width * 1.5;
      color: $gray-400;
    }
  }
}
