// Standard box-model or flex-box model
$flexbox: false;
// Max width of .container
$container_width: 72em;
// Cell grid spacing- % will be appended
$cell_margin: 0;
$cell_padding: 0;
$cell_space: ($cell_margin + $cell_padding) * 2;
// Grid size declarations, as percentage of window width.
$grid: (
100
90
80
75
70
60
50
40
30
25
20
10
);

$cells: ();
$offsets: ();
@each $cell in $grid {
  $cells : append($cells, unquote('.cell-#{$cell},'));
  $offsets : append($offsets, unquote('.offset-#{$cell},'));
}
