/**
  * @file
  * CellularUI : jCard
*/
.jCard {
  padding: 0.2em 0.6em;
  border: 2px solid $grey;
  @include transition();
}
.jCard-wrap {
  display: inline-block;
  vertical-align: top;
  margin: 0.2em auto;
  padding: 0.2em;
  color: $panel_color;
  background: $panel_background;
  border: 1px solid $light_grey;
  box-shadow: 0 0 0.1em 0.1em $light_grey;
  @include transition();

  img {
    //@include transition();
  }
  .title {
    margin: 0;
    padding: 0.3em;
    font-size: 0.9em;
    background-color: $dark_grey;
    @include transition();

    a,
    a:visited {
      color: $white;
    }
  }

  a,
  p,
  li {
    color: lighten($panel_color, 20%);
    text-decoration: none;
  }
  li {
    padding: 0.2em 0.8em;
  }
  &.active,
  &:active,
  &:focus,
  &:hover {
    color: $active_color;
    text-decoration: none;
    border: 1px solid $light_grey;
    box-shadow: 0 0.4em 1em 0.3em $grey;

    .jCard {
      border: 2px solid $dark_grey;
    }
    .title {
      background-color: $active_color;

      a,
      a:visited{
        color: $white;
      }
    }
    a,
    p,
    li {
      color: $active_color;
      text-decoration: none;
    }
  }
}
