.jModal-trigger {
  
}
.jModal-overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $black;
  background: rgba($black, 0.7);
  opacity: 0;
}
.jModal-window {
  position: fixed;
  top: 50%;
  right: 50%;
  padding: 1em;
  border-radius: $tiny;
  background: $white;
  @include transition();

  &.active {

  }
}
