/**
  * @file
  * CellularUI : jScrolli
*/

$controlsize: 2em;
$setwidth: false;
$width: 800px;

@mixin scrolli_transit($time: 1s, $ease: linear){
  transition: all $time $ease;
}

.jScrolli {
  height: 240px;
  opacity: 0;
  @include transition();
}
// Fade in after js applies structure
.cellular.jScrolli {
  opacity: 1;
}

.jScrolli-wrap {
  overflow: hidden;
  background-color: $panel_background;
  border: $border_color 1px solid;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  li {
    //display: inline;
    max-width: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }


  &.active {
    .jScrolli-control {
      opacity: 1;
    }

    .jScrolli-caption {

    }
  }

  /* Styles applied while .slide is transitioning */
  &.transition {

    .jScrolli-caption {

      p{
        opacity: 0;
      }
    }
  }
}

.jScrolli-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 100%;
  width: 100%;
  opacity: 0;
  @include scrolli_transit(0.6s);

  &.previous {
    left: -100%;
    right: -100%;
  }

  &.next {
    left: 100%;
    right: 100%;
  }

  &.active {
    left: 0;
    right: 0;
    opacity: 1;

    .jScrolli-slide-content {
      opacity: 1;
    }
  }

  /* Slide content */
  .jScrolli-slide-content {
    z-index: 1;
    text-align: center;
    opacity: 0;
    @include scrolli_transit();
  }

  .title {
    a,
    a:visited {
      font-weight: bold;
      color: $dark_grey;
      @include textstroke($panel_background, 1px);
    }
    a:active,
    a:hover,
    a:focus {
      color: $dark_grey;
      @include textstroke($hilight, 2px);
    }
  }

  p {
    background: rgba($panel_background, 0.9);
    padding: 0.8em;
  }
}

.jScrolli-background {
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.jScrolli-caption {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0 2em;
  background-color: $black;
  background-color: rgba($black, 0.8);
  //max-height: 0;
  @include scrolli_transit();

  p {
    max-width: none;
    margin: 0;
    padding: 0.8em;
    color: $white;
    opacity: 1;
    @include scrolli_transit();
  }
}

.jScrolli-control {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  opacity: 0.2;
  text-indent: -999em;
  width: $controlsize;
  height: $controlsize;
  color: $white;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/png/controls.png);
  background-image: url(../assets/icons/svg/controls.svg);
  //background-size: $controlsize;
  background-color: $grey;
  @include transition();

  &.prev,
  &.next {
    top: 50%;
    background-color: $panel_color;

    &:hover,
    &:focus {
      background-color: $hilight;
    }
  }

  &.prev {
    left: 0;
    background-position: -24px 8px;
  }

  &.next {
    right: 0;
    background-position: -88px 8px;
  }

  &.play,
  &.pause {
    top: 0;
    left: 0;
    background-color: $black;
    border: $white 2px solid;
    border-radius: 50%;
    opacity: 0;
    transition: none;
  }

  &.play {
    background-position: 8px 8px;
  }
  &.pause {
    background-position: -54px 8px;
  }
}

.jScrolli-markers {
  z-index: 1;
  float: left;
  position: relative;
  left: 50%;
  /*
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 0.75em; // jScrolli-wrap padding-bottom - .marker height /2
  */

  li {
    position: relative;
    float: left;
    left: -50%;
    margin: 0.25em 0.5em;
  }
}

.jScrolli-marker {
  //display: block;
  //float: left;
  cursor: pointer;
  text-indent: -999em;
  width: 0.5em;
  height: 0.5em;
  border: $dark_grey 1px solid;
  border-radius: 50%;
  background-color: $grey;
  @include transition();

  &.active {
    border-color: darken($hilight, 20%);
    background-color: $hilight;
    box-shadow: 0 0 0.5em 0 $hilight;
  }

  &:hover,
  &:focus {
    border-color: $hilight;
  }

  a {
    text-indent: -999em;
  }
}