/**
  * @file
  * Cellular Grid
*/

.cell,
.cell-100,
.cell-90,
.cell-80,
.cell-75,
.cell-70,
.cell-60,
.cell-50,
.cell-40,
.cell-30,
.cell-25,
.cell-20,
.cell-10,
.cell-33,
.cell-66 {
  z-index: 1;
  position: relative;
  float: left;
  display: block;
  margin: 1%;
  padding: 1%;
  transition: all 400ms ease-out;
}

.cell.center,
.cell-100.center,
.cell-90.center,
.cell-80.center,
.cell-75.center,
.cell-70.center,
.cell-60.center,
.cell-50.center,
.cell-40.center,
.cell-30.center,
.cell-25.center,
.cell-20.center,
.cell-10.center,
.cell-33.center,
.cell-66.center {
  margin: 1% auto;
}

.cell {
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  zoom: 1;
}

.cell:before,
.cell:after {
  content: "";
  display: table;
}

.cell:after {
  clear: both;
}

.cell-100 {
  width: 96%;
}

.offset-100 {
  margin-left: 102%;
}

.cell-90 {
  width: 86%;
}

.offset-90 {
  margin-left: 92%;
}

.cell-80 {
  width: 76%;
}

.offset-80 {
  margin-left: 82%;
}

.cell-75 {
  width: 71%;
}

.offset-75 {
  margin-left: 77%;
}

.cell-70 {
  width: 66%;
}

.offset-70 {
  margin-left: 72%;
}

.cell-60 {
  width: 56%;
}

.offset-60 {
  margin-left: 62%;
}

.cell-50 {
  width: 46%;
}

.offset-50 {
  margin-left: 52%;
}

.cell-40 {
  width: 36%;
}

.offset-40 {
  margin-left: 42%;
}

.cell-30 {
  width: 26%;
}

.offset-30 {
  margin-left: 32%;
}

.cell-25 {
  width: 21%;
}

.offset-25 {
  margin-left: 27%;
}

.cell-20 {
  width: 16%;
}

.offset-20 {
  margin-left: 22%;
}

.cell-10 {
  width: 6%;
}

.offset-10 {
  margin-left: 12%;
}

/* Add in any quirky widths that can't be looped */
.cell-33 {
  width: 29.33333%;
}

.cell-66 {
  width: 62.66667%;
}

.offset-33 {
  margin-left: 35.33333%;
}

.offset-66 {
  margin-left: 68.66667%;
}
