// Color swatches
$adjust: 20%;
$opacity: 0.8;

$cyan: #29B4DE;
$magenta: #DD2A99;
$yellow: #EC2;
$red: #8C0D00;
$green: #61D43F;
$blue: #00598E;

$white: #f9f9f9;
$black: #111;
$grey: #afab9c;
$light_grey: darken($white, 15%);
$dark_grey: lighten($black, 20%);

$c1: $black;
$c2: $white;
$hilight: $cyan;
$shadow: lighten($black, $adjust);

$ok_color: $green;
$warning_color: $yellow;
$error_color: $red;
