/////
// Cellular :: SASS Configuration Variables
// Variables should be separated from style partials to allow styles to access
// the same configuration data without including the style rules.
/////

// Icon Configuration.
$icon_size: 32px;
$icon_padding: $icon_size * .1; // Set icons to include

.icon {
  float: left;
  display: block;
  width: $icon_size;
  height: $icon_size;
  margin: .1em;
  text-indent: -999em;
  //border-radius: 50%;
  background-size: $icon_size * .8;
  background-color: #dedede;
  background-repeat: no-repeat;
  background-position: $icon_padding;
}

$ui_icons: (
search
arrow-up
arrow-right
arrow-down
arrow-left
mail
mail2
menu
message-error
message-ok
message-warning
audio
camera
cart
chat
cloud
doc
email
eye
film
folder
gear
home
key
lock
minus
pdf
phone
phone2
picture
plus
print
search
spreadsheet
user
user-social
video
wrench
zip
);

// Tech
$tech_icons : (
android
angular
apple
creativecommons
chrome
css3
desktop
drupal
firefox
globe
html5
internetexplorer
jquery
js
laptop
linux
mac
mobile
opera
safari
w3
windows
wordpress
);

// Social Media Icons
$social_icons : (
behance
blogger
delicious
deviantart
digg
facebook
flickr
github-octo
google
grooveshark
hi5
linkedin
myspace
pinterest
reddit
rss
skype
slashdot
soundcloud
stackoverflow
stumbleupon
technorati
tumblr
twitter-bird
twitter-t
youtube
);
