/**
  * @file
  * Collect Drupal specific  styles
*/

@import "variables";

@import "drupal/drupal-ids";
@import "drupal/drupal-classes";
@import "drupal/powered-by";
@import "drupal/breadcrumb";
@import "drupal/postinfo";
@import "drupal/comments";
@import "drupal/pager";
@import "drupal/forms";
@import "drupal/menus";
@import "drupal/tabs";
@import "drupal/user";
@import "drupal/search";
// Replace default module styles.
@import "drupal/modules/admin_menu";
@import "drupal/modules/calendar";
@import "drupal/modules/colorbox";
@import "drupal/modules/ctools";
@import "drupal/modules/date";
@import "drupal/modules/flag";
@import "drupal/modules/forum";
@import "drupal/modules/panels";
@import "drupal/modules/views";
@import "drupal/modules/webform";
