// headings
$headings-color: #313131;
// Social icons colors
$facebook: #3b5998;
$flickr: #ff0084;
$git: #333;
$googleplus: #d34836;
$instagram: #8a3ab9;
$linkedin: #0e76a8;
$pinterest: #c92228;
$skype: #12a5f4;
$twitter: #1dcaff;
$vimeo: #162221;
$youtube: #c4302b;

// color system
$white: #fff;
$grey: #ccc;
$light-grey: #f7f7f7;
$light-grey2: #f9f9f9;
$light-grey-text: #7f7f7f;
$dark-grey: #5d5d5d;
$ghost: #ced4da;
