/**
  * @file
  * Drupal pager styling
*/
$primary_color: $dark_grey;
$secondary_color: $white;

.pager {
  clear: both;
  display: table;
  margin: .4em auto;
  padding: 0;
  font: bold .8em/1em;
  text-align: center;

  li {
    float: left;
    text-align: center;
    padding: 0;
    outline: 0;
    list-style: none;
  }

  a {
    @include button($secondary_color, $primary_color);

    &:hover,
    &:focus {
      color: $white;
    }
  }

  .pager-item {
    margin: .2em;
  }

  .pager-current {
    cursor: default;
    margin: .2em;
    padding: $normal;
    font-weight: bold;
    outline: 0;
    color: $primary_color;
    background: $secondary_color;
    border: $border;
  }
}


.pager-first,
.pager-previous,
.pager-next,
.pager-last {
  margin: .2em;
  border: none;

  a {
    width: 4em;
  }

  &:before,
  &:after {
    cursor: pointer;
    position: absolute;
    top: 20%;
    color: $secondary_color;
    font-size: 3 * $normal;
    z-index: 10;
  }
}

.pager-first,
.pager-previous{
  &:before {
    left: .1em;
  }
}

.pager-next,
.pager-last {
  &:after {
    right: .1em;
  }
}

.pager-first {
  &:before {
    content: '\ab';
  }
}

.pager-previous {
  &:before {
    content: '\2039';
  }
}

.pager-next {
  &:after {
    content: '\203A';
  }
}

.pager-last {
  &:after {
    content:'\bb';
  }
}
