/**
  * @file
  * Drupal pager styling
*/
$primary_color: $dark_grey;
$secondary_color: $white;

.pager {
  clear: both;
  display: table;
  margin: .4em auto;
  padding: 0;
  font: bold .8em/1em;
  text-align: center;

  li {
    float: left;
    text-align: center;
    padding: 0;
    outline: 0;
    list-style: none;
  }

  a {
    @include button($secondary_color, $primary_color);

    &:hover,
    &:focus {
      color: $white;
    }
  }

  .pager-item {
    margin: .2em;
  }

  .pager-current {
    cursor: default;
    margin: -.5em 0.6em 0;
    padding: $normal;
    font-weight: bold;
    outline: 0;
    color: $primary_color;
    background: $secondary_color;
    border: $border;
  }
}


.pager-first,
.pager-previous,
.pager-next,
.pager-last {
  margin: .2em;
  border: none;

  a {
    width: 4em;
  }
}
