/**
 * @file
 * CellularUI : jAccordion
 */

.cellular {

  &.jAccordion {

    li {
      margin: 0 auto .1em;
    }

    .title {
      padding-left: 2em;
      background-image: url(../assets/icons/svg/plus.svg);
      background-size: 1em;
      background-repeat: no-repeat;
      background-position: .4em center;
      @include transition(none);
    }

    .panel {
    }

    .active {

      .title {
        background-size: 1em;
        background-image: url(../assets/icons/svg/minus.svg);
      }
    }
  }
}
