/*****
    Cellular :: jTabs
*****/
//////
.cellular {

    &.jAccordion {

        li {
            margin: 0 auto .1em;
        }

        .title {
            padding-left: 32px;
            background-image: url(../assets/icons/svg/plus.svg);
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 1% center;
        }
        .panel {
        }

        .active {
            .title {
                background-image: url(../assets/icons/svg/minus.svg);
            }
        }
    }

    &.jBlocklink-link {
        display: inline-block;
        vertical-align: top;
        margin: 1em;
        color: $light_grey;
        background: $panel_background;
        @include transition();
        @include box-shadow(0 0 .1em .1em $light_grey);

        p, a {
            color: $light_grey;
            text-decoration: none;
        }

        &.active,
        &:active,
            &:hover,
            &:focus {
            color: $active_color;
            text-decoration: none;
            @include box-shadow(0 0 .3em .3em $light_grey);

            p, a {
                color: $active_color;
                text-decoration: none;
            }
        }
        img {
            //@include transition();
        }
        p {
        }
    }

    &.jMmenu {

        &.mini {
            float: right;
            cursor: pointer;
            z-index: 10;
            width: 3em;
            height: 3em;
            padding: 1em;

            background-color: $white;
            background-image: url('../assets/icons/png/menu.png');
            background-size: 2em;
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid;

            ul {
                position: absolute;
                right: 0;
                top: 3em;
                margin: 0;
                padding: 0;
                background-color: darken($white, 5%);

                li {

                    & > ul {
                        // Disable deep links on small screens
                        display: none;
                    }
                }
            }
            a {
                display: block;
            }
        }
    }
    &.jParallax {
        background-image: url('../assets/images/png/carousel-arrows.png');
        background-repeat: no-repeat;
        background-position: 3px -4px;
    }

    &.jScrolli {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: block;
            list-style: none;
            margin: 0;
            padding: 1em;
        }
    }

    &.jTabs {
        display: block;
        clear: both;
        margin: 0;
        padding: $normal 0;
        // background-color: $light_grey;
        li,
        .tab {
            float: left;
            display: block;
            list-style: none;
            margin: 0 0.1em 0 0;
            z-index: 2;

            .title {
                padding: .4em .6em;
                border: $border_color 1px solid;
            }

            &.active {
                background-color: $title_color;

                .title {
                    background: $title_color;
                    border-bottom: $title_color 1px solid;
                    a {
                        color: $title_background;
                    }
                }
            }
        }
        .panel {
            clear: both;
            bottom: 1px;
            z-index: 1;
        }

        // Vertical Tab Styling
        &.vertical {
            float: left;
            display: block;
            width: 100%;
            li,
            .tab {
                clear: left;
                margin: .1em 0;
                border: none;
                width: 27%;

                .title {
                    padding: .4em 1%;
                    border: none;
                }

                &.active {
                    border: none;

                    .title {
                        border: none;
                    }
                }
            }
            .panel {
                //float: left;
                clear: none;
                display: inline-block;
                margin: 0;
                padding: 1%;
                width: 68%;
                border: none;
            }
        }
    }
}

/*

    &.next,
    &.back {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        width: 3em;
        color: $white;
        background-color: $dark_grey;
        background-color: rgba($dark_grey, 0.6);
    }
    &.next {
        right: 0
    }
    &.back {
        left: 0
    }

.jcarousel-clip {
    display: block;
    margin: $small 3em;
    overflow: hidden;
}
.jcarousel {
    position: relative;
    height: 240px;
}

.jcarousel-item-placeholder {
    background: #fff $loading no-repeat center center;
    color: #000;
}
.jcarousel-item {
    width: 33%
}

.jcarousel-navigation {
    text-align: center;

    li {
        display: inline;
        list-style: none;
        border: $light_grey 1px solid;

        a {
            padding: .4em 1em;
        }
    }
}
.jcarousel-next,
.jcarousel-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
    background-color: rgba($light_grey, 0.4);
    background-image: url('../assets/images/svg/carousel-arrows.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;

    &:hover,
        :focus {
        background-color: rgba($grey, 0.5);
    }
}
.jcarousel-next {
    right: 0;
    background-position: right center;
}
.jcarousel-prev {
    left: 0;
    background-position: left center;
}
*/