/*****
    Cellular :: jTabs
*****/
//////
.cellular {

  &.jParallax {
    background-image: url('../assets/images/png/carousel-arrows.png');
    background-repeat: no-repeat;
    background-position: 3px -4px;
  }
}