// Cell grid spacing
$cell_margin: 0;
$cell_padding: 0;
$cell_border: 0;
$cell_space: ($cell_margin * 2) + ($cell_padding * 2) + ($cell_border * 2);

$grid :
100
90
80
75
70
66
60
50
40
33
30
25
20
10
;
