/**
  * @file
  * Lists
*/

hr {
  height: 1px;
  margin: $typo-text-size 0;
  border: none;
  background-image: linear-gradient(left, rgba($color-neutral, 0), rgba($color-neutral, 0.75), rgba($color-neutral, 0));
}

/////
// Lists
/////
ol,
ul,
dl {
  width: auto;
  margin: 0 0 1em 1.4em;
  padding: 0;
  list-style-position: inside;
}

ol {
  counter-reset: olCount;

  & > li {
    list-style: none;

    &:before {
      display: inline;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      margin: 0 1em 0 0;
      content: counter(olCount);
      counter-increment: olCount;
      text-align: center;
      color: $color-secondary;
      border: thin solid;
      border-radius: 50%;
      background: $color-primary-bg;
      line-height: 1.4em;
    }
  }
}

ul {
  list-style-type: disc;
  // list-style-image: url("../assets/icons/svg/arrow-right.svg");
}

li {
  width: auto;
  max-width: $typo-text-max-width * 0.9;
  margin: 0.3em auto 0.6em;
}

dt {
  margin: $size-small 0 0;
  font-weight: bold;
}

dd {
}

.inline {
  margin: auto;
  list-style: none;

  li {
    display: inline;
  }
}
