/**
  * @file
  * Form styling
*/

$i_pad: 0.4em;

form {
  display: block;
  max-width: 32em;
  margin: auto;
  padding: 0;

  // Form Alignment Classes
  &.horizontal {
    display: inline;
    max-width: none;
    padding: 0;

    label,
    input {
      display: inline;
      clear: none;
    }

    input[type="submit"] {
      display: inline;
      float: none;
      margin: 0 $tiny;
    }
  }

  &.vertical {
    text-align: center;

    label,
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      display: block;
    }

    input[type=submit] {
      float: none;
      margin: $tiny auto;
    }
  }
}

fieldset {
  margin: 2em $tiny 1em;
  padding: $tiny;
  border: $grey $border;
  //@include clear();
}

legend {
  @include clear();

  position: absolute;
  //display: inline-block;
  top: -1em;
  padding: 0 $small;
  color: $grey;
  background: $white;
  font-family: $h_font;
  font-size: $big;
  font-weight: $h_weight;
}

label {
  display: block;
  display: inline-block;
  margin: $i_pad 0 0;
  padding: 1em $i_pad 0;
  text-align: left;
  font-family: $h_font;
  font-weight: $h_weight;
}

input,
select,
textarea {
  @include border-radius();
  @include transition();

  display: inline;
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin: auto;
  padding: $i_pad 0;
  text-align: left;
  vertical-align: top;
  text-indent: $i_pad;
  color: $p_color;
  border: $grey 1px solid;
  background: darken($white, 1%);
  font: 1em/1.6em $p_font;
  font-size: 100%;

  &:focus {
    color: $p_color;
    outline: none;
    background: $white;
    box-shadow: 0 0 0.2em 0 $hilight;
  }

  &.year,
  &.month,
  &.day,
  &.hour,
  &.minute {
    width: auto;
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
  //width: $i_width;
}

select {
  margin: $i_pad auto;
  padding: $i_pad;
  cursor: pointer;
  text-indent: unset;
}

optgroup {
  background: darken($white, 5%);
}

option {
  border-bottom: $grey thin dotted;

  &:focus {
    outline: none;
  }
}

input {

  &.required,
  &[required] {
    box-shadow: 0 0 0.1em 0 $hilight;

    &:after {
      //content: ' *';
    }
  }

  &[type="hidden"] {
    display: none;
  }

  &[type="file"] {
    width: auto;

    &:host(input) {
      margin: 0.1em 1em;
      text-indent: 1em;
    }
  }

  &[type="image"] {
    width: auto;
    border: none;
  }

  &[type="text"],
  &[type="number"],
  &[type="tel"],
  &[type="search"],
  &[type="email"],
  &[type="password"] {

  }

  &[type="checkbox"],
  &[type="radio"] {
    @include checkbox(1.2em);
  }

  &[type="checkbox"] {
    + label:before {
      border-radius: $tiny;
    }

    &:checked {
      + label:after {
        // x-position = size * 2
        background-position: -2.4em 1px;
      }
    }
  }

  &[type=radio] {
    + label:before {
      border-radius: 50%;
    }

    &:checked {
      + label:after {
        background-position: 1px 1px;
      }
    }
  }

  &.switch {

  }

  &[type=range] {
    width: 100%;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
    /* Hide default slider */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    &::-ms-track {
      width: 100%;
      cursor: pointer;
      color: transparent;
      border-color: transparent;
      background: transparent; /* Hides the slider so custom styles can be added */
    }
  }
}

button,
.button,
input[type="button"],
input[type="submit"] {
  @include button();

  display: block;
}

input[type="button"],
input[type="submit"] {
  display: inline-block;
  margin-bottom: 1em;
}
//Form Alert Classes
.ok,
.warning,
.error {
  @include border-radius();

  border: 0.2em solid;
  font-weight: bold;
}

.ok {
  color: $ok_color;
  border-color: $ok_color;
  background-color: lighten($ok_color, 65%);
}

.warning {
  color: $warning_color;
  border-color: $warning_color;
  background-color: lighten($warning_color, 65%);
}

.error {
  color: $error_color;
  border-color: $error_color;
  background-color: lighten($error_color, 65%);
}
