/**
  * @file
  * Typography styling for edge cases
  * @see /sass/critical/critical_typography.scss for managing p & h tags
*/

small {
  font-size: $size-small;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: $text-size * 0.75;
  line-height: 0;
}

sup {
  top: -($text-size * 0.5);
}

sub {
  bottom: -($text-size * 0.25);
}

blockquote,
q {
  color: $color-secondary;
  background-color: $color-secondary-bg;
  font-style: italic;

  &:before {
    content: "\201C";
  }
  &:after {
    content: "\201D";
  }
}

q {
  font-size: $text-size * 1.4;
}

blockquote {
  display: block;
  margin: $size-tiny $size-big;
  padding: $size-default;
  border-left: $size-tiny solid;
  font-size: $text-size * 1.8;
}

caption {
  text-align: left;
}

code {
  font-family: "Courier New", Courier, monospace;
}

pre {
  display: block;
  overflow: scroll;
  margin: 1em auto;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

abbr,
acronym {
  border: 0;
  font-weight: bold;
  font-variant: small-caps;
}
