/**
  * @file
  * Base body style.
*/

html {
  overflow: auto;
  // Force scrollbar display to prevent flicker on short pages.
  overflow-y: scroll;
}

body {
  background: $color-primary-bg;
  color: $text-color;
  font-family: $text-font;
  font-size: 100%;
  line-height: $text-line-height;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  //@include gradient_rad($color-primary-bg, $color-primary-bg, $light_grey);
  //background-image: $body_img;
  //background-repeat: repeat;
  //background-attachment: fixed;
}
