m /**
  * @file
  * Styling DOM classes provided by drupal forum/advanced forum modules.
*/

/* Thread listing */
.forum-posts {
  table {
    width: 100%;
  }
  th {
  }
  tr {
    &:nth-child(odd) {
    }
    &:nth-child(even) {
    }
  }
  td {
    text-align: left;
  }
  .title {
    font-family: $heading-font;
    font-weight: bold;
  }
  .forum-post-info {
    font-size: $text-size * 0.9;
    font-style: italic;
  }
  .author {
  }
  .posted-date {
  }
}
