/*
.toolbar-tray {
    position:absolute;
    display: table;
    width: 0;
    height: 0;
    background: $color-primary-bg;
    border: $color-shadow 1px solid;
    @include drop-shadow();
}
*/
/*
.toolbar-tray-vertical {
    width: 15vw;
    min-width: 5em;
    height: 100%;

    &.is-active {
        width: auto;
    }
}

.toolbar-tray-horizontal {
   // width: 100vw;
    height: 3em;

    .menu-item {
        clear: none;
        position: relative;
    }

    &.is-active {
        height: 2em;
    }
}
*/